// Cores neutras
$neutra-100: #101010;
$neutra-80: #404040;
$neutra-60: #707070;
$neutra-40: #9f9f9f;
$neutra-20: #cfcfcf;
$neutra-10: #e7e7e7;
$neutra-5: #f3f3f3;

// Cores primárias
$primaria-100: #0064c8;
$primaria-80: #3383d3;
$primaria-60: #66a2de;
$primaria-40: #99c1e9;
$primaria-20: #cce0f4;
$primaria-10: #e5eff9;
$primaria-5: #f2f7fc;

// Cores secundárias
$secundaria-100: #ff6b00;
$secundaria-80: #ff8e33;
$secundaria-60: #ffa866;
$secundaria-40: #ffc599;
$secundaria-20: #ffe2cc;
$secundaria-10: #fff0e5;
$secundaria-5: #fff8f2;

// Cores de apoio
$verde-100: #00b464;
$verde-80: #33c183;
$verde-60: #66d2a2;
$verde-40: #99e1c1;
$verde-20: #ccf0e0;
$verde-10: #e5f7ef;
$verde-5: #f2fbf7;

$amarelo-100: #ffc832;
$amarelo-80: #ffd35b;
$amarelo-60: #ffde84;
$amarelo-40: #ffe9ad;
$amarelo-20: #fff4d6;
$amarelo-10: #fff9eb;
$amarelo-5: #fffcf5;

$vermelho-100: #fa3232;
$vermelho-80: #fb5b5b;
$vermelho-60: #fc8484;
$vermelho-40: #fdadad;
$vermelho-20: #fed6d6;
$vermelho-10: #ffebeb;
$vermelho-5: #fff5f5;
