@use "../sass_vars" as *;

body {
  @apply bg-white-100;
  -webkit-font-smoothing: antialiased;
  font-family: "Work Sans";
  font-size: 62.5%;
  font-weight: 400;
  position: relative;
  overflow-x: hidden;
}

body,
.grid,
.auth-grid {
  @apply wh-screen;
}

.grid {
  display: grid;
  grid-template-rows: $navbar-height 1fr $footer-height;
  grid-template-areas: "nav" "content" "footer";
}

.auth-grid {
  display: grid;
  grid-template-rows: calc(100vh - $footer-height) $footer-height;
  grid-template-columns: $nav-width 1fr;
  grid-template-areas:
    "nav content"
    "nav footer";

  header {
    @apply h-screen;
  }

  header > nav {
    @apply h-full;
  }

  main {
    @apply h-full w-full;
  }
}

nav {
  grid-area: nav;
}

main {
  grid-area: content;
  /* margin-bottom: 100px; */
}

footer {
  grid-area: footer;
}
