body {
  background-color: #fff; /* bg-white-100 */
  -webkit-font-smoothing: antialiased;
  font-family: "Work Sans";
  font-size: 62.5%;
  font-weight: 400;
  position: relative;
  overflow-x: hidden;
}

body,
.grid,
.auth-grid {
  width: 100vw;
  height: 100vh; /* wh-screen */
}

.grid {
  display: grid;
  grid-template-rows: var(--navbar-height) 1fr var(--footer-height);
  grid-template-areas: "nav" "content" "footer";
}

.auth-grid {
  display: grid;
  grid-template-rows: calc(100vh - var(--footer-height)) var(--footer-height);
  grid-template-columns: var(--nav-width) 1fr;
  grid-template-areas:
    "nav content"
    "nav footer";
}

.auth-grid header {
  height: 100vh;
}

.auth-grid header > nav {
  height: 100%;
}

.auth-grid main {
  height: 100%;
  width: 100%;
}

nav {
  grid-area: nav;
}

main {
  grid-area: content;
  /* margin-bottom: 100px; */
}

footer {
  grid-area: footer;
}