<main class="book-wrapper">
  <div class="publications">
    <div class="banner-container">
      <img src={~p"/images/landing/bg_fill.png"} />
      <h1 class="centered-text">Livros do PEA Pescarte</h1>
    </div>
    <section class="publications-text">
      <!-- criando os cards dos livros -->
      <div class="links-landing">
        <div class="links-item">
          <img src="https://rrosgcmviafnxjshljoq.supabase.co/storage/v1/object/sign/static/images/publicacoes/livros/livro1_capa.png?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJzdGF0aWMvaW1hZ2VzL3B1YmxpY2Fjb2VzL2xpdnJvcy9saXZybzFfY2FwYS5wbmciLCJpYXQiOjE3MjUzODQ1NDIsImV4cCI6MjA0MDc0NDU0Mn0.Kq788YF3Rsd0TwBCZ8kxDZEV3eTZ8IQ7BlGmUgJ1rZk&t=2024-09-03T17%3A29%3A02.533Z" />
          <DesignSystem.link
            href="https://rrosgcmviafnxjshljoq.supabase.co/storage/v1/object/sign/static/images/publicacoes/livros/Livro-1-eBook.pdf?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJzdGF0aWMvaW1hZ2VzL3B1YmxpY2Fjb2VzL2xpdnJvcy9MaXZyby0xLWVCb29rLnBkZiIsImlhdCI6MTcyNTM4NDQ4MSwiZXhwIjoyMDQwNzQ0NDgxfQ.dKC0IaO9-WzjH8FTcLTqst0WsVybS2LHcVomDjsmguU&t=2024-09-03T17%3A28%3A02.492Z"
            class="text-sm font-semibold"
            target-blank
          >
            <.text size="h3" color="text-white-100">Livro Pescarte 1</.text>
          </DesignSystem.link>
        </div>
        <div class="links-item">
          <img src="https://rrosgcmviafnxjshljoq.supabase.co/storage/v1/object/sign/static/images/publicacoes/livros/livro2_capa.png?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJzdGF0aWMvaW1hZ2VzL3B1YmxpY2Fjb2VzL2xpdnJvcy9saXZybzJfY2FwYS5wbmciLCJpYXQiOjE3MjUzODQ1NjEsImV4cCI6MjA0MDc0NDU2MX0.U6ClO169WPPLv9ZrrrwdUNTP6dGSW0IL5KQdbwzkfgM&t=2024-09-03T17%3A29%3A21.965Z" />
          <DesignSystem.link
            href="https://rrosgcmviafnxjshljoq.supabase.co/storage/v1/object/sign/static/images/publicacoes/boletins/boletim%202/Boletim%20Pescarte%2002.pdf?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJzdGF0aWMvaW1hZ2VzL3B1YmxpY2Fjb2VzL2JvbGV0aW5zL2JvbGV0aW0gMi9Cb2xldGltIFBlc2NhcnRlIDAyLnBkZiIsImlhdCI6MTcyNDQyMjM5NywiZXhwIjoyMDM5NzgyMzk3fQ.9D1fAdjMSm5eSf707SP8DjRCDi_nFmtoKzctpAyKZd8&t=2024-08-23T14%3A13%3A17.771Z"
            class="text-sm font-semibold"
            target-blank
          >
            <.text size="h3" color="text-white-100">Livro Pescarte 2</.text>
          </DesignSystem.link>
        </div>
        <div class="links-item">
          <img src="https://rrosgcmviafnxjshljoq.supabase.co/storage/v1/object/sign/static/images/publicacoes/livros/livro3_capa.png?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJzdGF0aWMvaW1hZ2VzL3B1YmxpY2Fjb2VzL2xpdnJvcy9saXZybzNfY2FwYS5wbmciLCJpYXQiOjE3MjUzODQ1NzksImV4cCI6MjA0MDc0NDU3OX0.KQq3jvtCbA3FebhWspy1I9OG6khjLeGLNdadvSf7udM&t=2024-09-03T17%3A29%3A39.188Z" />
          <DesignSystem.link
            href="https://rrosgcmviafnxjshljoq.supabase.co/storage/v1/object/sign/static/images/publicacoes/livros/Livro-3-eBook.pdf?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJzdGF0aWMvaW1hZ2VzL3B1YmxpY2Fjb2VzL2xpdnJvcy9MaXZyby0zLWVCb29rLnBkZiIsImlhdCI6MTcyNTM4NDUyNCwiZXhwIjoyMDQwNzQ0NTI0fQ.K-y0xz8VHAqRSCdr62RKpGFYdeu5e5RSVbYJDhN20jE&t=2024-09-03T17%3A28%3A44.852Z"
            class="text-sm font-semibold"
            target-blank
          >
            <.text size="h3" color="text-white-100">Livro Pescarte 3</.text>
          </DesignSystem.link>
        </div>
        <div class="links-item">
          <img src="https://rrosgcmviafnxjshljoq.supabase.co/storage/v1/object/sign/static/images/publicacoes/livros/livro4_capa.png?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJzdGF0aWMvaW1hZ2VzL3B1YmxpY2Fjb2VzL2xpdnJvcy9saXZybzRfY2FwYS5wbmciLCJpYXQiOjE3MjU3NTg2NjgsImV4cCI6MjA0MTExODY2OH0.a1IBvYpIUKWUjnyhPWRoaAyotcSHnHPn8XqHFqgRDjY&t=2024-09-08T01%3A24%3A28.346Z" />
          <DesignSystem.link
            href="https://rrosgcmviafnxjshljoq.supabase.co/storage/v1/object/sign/static/images/publicacoes/livros/Livro-4-eBook.pdf?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJzdGF0aWMvaW1hZ2VzL3B1YmxpY2Fjb2VzL2xpdnJvcy9MaXZyby00LWVCb29rLnBkZiIsImlhdCI6MTcyNTc2NDIzNCwiZXhwIjoyMDQxMTI0MjM0fQ.TNyd3J5ClL5NI9iUARwTllK_PevXU1GfJt_X2tD42iY&t=2024-09-08T02%3A57%3A14.612Z"
            class="text-sm font-semibold"
            target-blank
          >
            <.text size="h3" color="text-white-100">Livro Pescarte 4</.text>
          </DesignSystem.link>
        </div>
      </div>
    </section>
  </div>
  <!-- ONDE NOS ENCONTRAR -->
  <PescarteWeb.DesignSystem.GetInTouch.render />
</main>
