<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recuperação de Senha</title>
  <link rel="stylesheet" href="../email_css/email.css">
</head>

<body>
  <main>

    <header class="top-banner">
      <img src="../../static/images/fish_background.svg">
    </header>

    <div class="email-content">
      <h2>Olá!</h2>
      <p>Recebemos sua solicitação de recuperação de senha. Para recuperar, acesse o link abaixo:</p>
      <a href="#">www.3456543212werfghgfdsasdfg.com.br</a>
      <p>Se você não solicitou a recuperação, ignore este email.</p>
    </div>

    <footer>
      <img class="footer-email" src="../../static/images/footer_email.svg">
    </footer>
  </main>
</body>

</html>
