use flake
source .env.dev

export GPG_TTY="$(tty)"

# this allows mix to work on the local directory
export MIX_HOME=$PWD/.nix-mix
export HEX_HOME=$PWD/.nix-mix
export PATH=$MIX_HOME/bin:$HEX_HOME/bin:$PWD/assets/node_modules/.bin:$PATH
export ERL_AFLAGS="-kernel shell_history enabled"

export LANG=en_US.UTF-8


# Install mix dependencies
if ! test -d deps; then
  mix deps.get
fi

# Install node dependencies
if ! test -d assets/node_modules && test -f assets/package.json; then
  cd assets && npm install && cd $PWD
fi
