<!-- Para mostrar os pesquisadores cadastrados, via Admin -->
<section class="relative py-20 2xl:py-40 overflow-hidden text-center text-white">
  <h1> Nada por enquanto, estamos construindo uma tela que deve mostrar todos os pesquisadores cadastrados....</h1>
</section>