.researcher-wrapper {
  @apply flex flex-col justify-between items-start;
  max-height: calc(800px - 143px);
  margin: 40px;
  gap: 56px;
  overflow-y: scroll;
}

.researcher-wrapper form {
  @apply flex flex-col justify-between items-start;
  gap: 56px;
}

.input-group-wrapper {
  @apply flex flex-col justify-between items-start;
  gap: 40px;
  max-width: 1220px;
  width: 100%;
}

.input-group {
  @apply flex flex-col justify-between items-start;
  max-width: 1220px;
  gap: 32px;

  fieldset {
    &:has(input[hidden]) {
      display: none;
    }
  }

  &.textarea {
    height: 164px;
    width: 100%;

    fieldset {
      width: 100%;
      height: 100%;
    }

    .textarea-grow-wrapper {
      width: 100%;
      height: 100%;
    }
  }

  .input-group-row {
    @apply flex items-center;
    gap: 40px;
    width: 100%;
  }
}

.submit-wrapper {
  @apply border-t-2 border-t-black-10;
  width: 100%;
  padding: 24px 0;

  button {
    margin: 0 auto;
  }
}
