.listagem-pesquisador {
  width: 100%;
  height: 100%;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;

  .listagem-actions {
    display: flex;
    margin-bottom: 2.62rem;

    button {
      a[href="/app/pesquisa/cadastro"] {
        @apply text-white-100 #{!important};
      }

      margin-left: 1.5rem;
      width: 10rem;
    }
  }

  td {
    a {
      @apply text-black-100;
    }
  }
}
