<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta httpEquiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="language" content="Portuguese" />
    <meta name="description" content="Plataforma Digital PEA Pescarte" />
    <meta property="og:type" content="website" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossOrigin="true" />
    <link
      href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;600;700;800&display=swap"
      rel="stylesheet"
    />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title>
      <%= assigns[:page_title] || "Plataforma PEA Pescarte" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
  </head>
  <body>
    <div class="container">
      <section class="phx-hero">
        <p>OOPS, Página não existe</p>
      </section>
      <img src="/priv/static/images/404.svg" alt="erro404" class="top-banner" />
      <a href=" " class="phx-hero">
        <img src="/priv/static/images/404.svg" alt="erro404"/>
      </a>
    </div>
  </body>
  <script>
    if (navigator.serviceWorker) {
      navigator.serviceWorker.register('/service_worker.js', { scope: './' })
        .then(function(reg) {
          console.log('[ServiceWorker]', 'Service worker registered!');
          console.log(reg);
      });
    }
  </script>
</html>


<!--  <body>
    <div class="container">
      <main role="main">
        <h2>404 - Nothing to see here</h2>
      </main>
      <div>
        <h2>OOPS !!!!! </h2>
        <title>OOPS !!!!! Será??? </title>
        <h5> Página não Encontrada. </h5>
      </div>
      <a href=" " class="phx-hero">
        <img src="/priv/static/images/404.svg" alt="erro404"/>
      </a>
    </div>
  </body> -->
