<main class="journal-wrapper">
  <div class="publications">
    <div class="banner-container">
      <img src={~p"/images/landing/bg_fill.png"} />
      <h1 class="centered-text">Boletins do Pescarte</h1>
    </div>
    <section class="publications-text">
      <!-- criando os cards das publicações -->
      <div class="links-landing">
        <div class="links-item">
          <img src="https://rrosgcmviafnxjshljoq.supabase.co/storage/v1/object/sign/static/images/publicacoes/boletins/boletim%201/Boletim%201-Capa.png?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJzdGF0aWMvaW1hZ2VzL3B1YmxpY2Fjb2VzL2JvbGV0aW5zL2JvbGV0aW0gMS9Cb2xldGltIDEtQ2FwYS5wbmciLCJpYXQiOjE3MjQ0MjIxNzQsImV4cCI6MjAzOTc4MjE3NH0.2_CSCLy04DPWbCIOgsDifVd4KbCqhnng4i02leUwSqM&t=2024-08-23T14%3A09%3A35.182Z" />
          <DesignSystem.link
            href="https://drive.google.com/file/d/1OGhlg7EwZ8EmiphLcoLNI2jthdX6klLf/view?usp=drive_link"
            class="text-sm font-semibold"
          >
            <.text size="h3" color="text-white-100">Boletim Pescarte 1</.text>
            <.text size="base" color="text-white-100">
              <b>Edição 1</b>: Janeiro a Junho de 2021
            </.text>
          </DesignSystem.link>
        </div>
        <div class="links-item">
          <img src="https://rrosgcmviafnxjshljoq.supabase.co/storage/v1/object/sign/static/images/publicacoes/boletins/boletim%202/Boletim-2-Capa.png?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJzdGF0aWMvaW1hZ2VzL3B1YmxpY2Fjb2VzL2JvbGV0aW5zL2JvbGV0aW0gMi9Cb2xldGltLTItQ2FwYS5wbmciLCJpYXQiOjE3MjQ0MjI0MjAsImV4cCI6MjAzOTc4MjQyMH0.APtsqe16bjhphF_HC_zF5J6Z-mtgTeXW3h7q_8dLshA&t=2024-08-23T14%3A13%3A40.707Z" />
          <DesignSystem.link
            href="https://drive.google.com/file/d/1gC5BiqhpyrQS36iAKaZeUk-rRHy0wNiU/view?usp=drive_link"
            class="text-sm font-semibold"
          >
            <.text size="h3" color="text-white-100">Boletim Pescarte 2</.text>
            <.text size="base" color="text-white-100">
              <b>Edição 2</b>: Julho a Dezembro de 2021
            </.text>
          </DesignSystem.link>
        </div>
        <div class="links-item">
          <img src="https://rrosgcmviafnxjshljoq.supabase.co/storage/v1/object/sign/static/images/publicacoes/boletins/boletim%203/Boletim-3-Capa.png?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJzdGF0aWMvaW1hZ2VzL3B1YmxpY2Fjb2VzL2JvbGV0aW5zL2JvbGV0aW0gMy9Cb2xldGltLTMtQ2FwYS5wbmciLCJpYXQiOjE3MjQ0MjIzNjIsImV4cCI6MjAzOTc4MjM2Mn0.O4tfiUrXuLDuELp0uOFFvB3vlTZmRlgiQMAWb2q68Xo&t=2024-08-23T14%3A12%3A42.553Z" />
          <DesignSystem.link
            href="https://drive.google.com/file/d/14Gs3owWOdSQqNWK0PLnEwLTZar8KE2W5/view?usp=drive_link"
            class="text-sm font-semibold"
          >
            <.text size="h3" color="text-white-100">Boletim Pescarte 3</.text>
            <.text size="base" color="text-white-100">
              <b>Edição 3</b>: Janeiro a Junho de 2022
            </.text>
            <.button style="primary">
              Saiba mais <Lucideicons.arrow_right class="text-white-100" />
            </.button>
          </DesignSystem.link>
        </div>
        <div class="links-item">
          <img src="https://rrosgcmviafnxjshljoq.supabase.co/storage/v1/object/sign/static/images/publicacoes/boletins/boletim%204/Boletim-4-Capa.png?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJzdGF0aWMvaW1hZ2VzL3B1YmxpY2Fjb2VzL2JvbGV0aW5zL2JvbGV0aW0gNC9Cb2xldGltLTQtQ2FwYS5wbmciLCJpYXQiOjE3MjQ0MjI1NTQsImV4cCI6MjAzOTc4MjU1NH0.U6w0ZffBcGZRBBj-p-hpcBhNOKVIq9VSUSPbhTO4skY&t=2024-08-23T14%3A15%3A54.261Z" />
          <DesignSystem.link
            href="https://drive.google.com/file/d/11MHhwGitzC4aJlwHbHOqT7dgHLdmud4A/view?usp=drive_link"
            class="text-sm font-semibold"
          >
            <.text size="h3" color="text-white-100">Boletim Pescarte 4</.text>
            <.text size="base" color="text-white-100">
              <b>Edição 4</b>: Julho a Dezembro de 2022
            </.text>
            <.button style="primary">
              Saiba mais <Lucideicons.arrow_right class="text-white-100" />
            </.button>
          </DesignSystem.link>
        </div>
        <div class="links-item">
          <img src="https://rrosgcmviafnxjshljoq.supabase.co/storage/v1/object/sign/static/images/publicacoes/boletins/boletim%205/Boletim-5-Capa.png?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJzdGF0aWMvaW1hZ2VzL3B1YmxpY2Fjb2VzL2JvbGV0aW5zL2JvbGV0aW0gNS9Cb2xldGltLTUtQ2FwYS5wbmciLCJpYXQiOjE3MjQ0MjI2MDgsImV4cCI6MjAzOTc4MjYwOH0.pKeENVheJlvDyq_zrqTlXPUkEa9CAnHbM-IJQLNuRA0&t=2024-08-23T14%3A16%3A48.300Z" />
          <DesignSystem.link
            href="https://drive.google.com/file/d/1BwgrdKq2ue4dMbzU3VfUguT4QXRxFiGf/view?usp=drive_link"
            class="text-sm font-semibold"
          >
            <.text size="h3" color="text-white-100">Boletim Pescarte 5</.text>
            <.text size="base" color="text-white-100">
              <b>Edição 5</b>: Janeiro a Junho de 2023
            </.text>
            <.button style="primary">
              Saiba mais <Lucideicons.arrow_right class="text-white-100" />
            </.button>
          </DesignSystem.link>
        </div>
        <div class="links-item">
          <img src="https://rrosgcmviafnxjshljoq.supabase.co/storage/v1/object/sign/static/images/publicacoes/boletins/boletim%206/Boletim-6-Capa.png?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJzdGF0aWMvaW1hZ2VzL3B1YmxpY2Fjb2VzL2JvbGV0aW5zL2JvbGV0aW0gNi9Cb2xldGltLTYtQ2FwYS5wbmciLCJpYXQiOjE3MjQ0MjI2NjgsImV4cCI6MjAzOTc4MjY2OH0.zS2vsuvBNjg2fTXIcEtP-qNlIMLie7yXz82zG2TB6w4&t=2024-08-23T14%3A17%3A48.382Z" />
          <DesignSystem.link
            href="https://drive.google.com/file/d/1mOZpt1yLwnNo5rfpNPswMqC_aO6BoHTw/view?usp=drive_link"
            class="text-sm font-semibold"
          >
            <.text size="h3" color="text-white-100">Boletim Pescarte 6</.text>
            <.text size="base" color="text-white-100">
              <b>Edição 6</b>: Julho a Dezembro de 2023
            </.text>
            <.button style="primary">
              Saiba mais <Lucideicons.arrow_right class="text-white-100" />
            </.button>
          </DesignSystem.link>
        </div>
        <div class="links-item">
          <img src="https://rrosgcmviafnxjshljoq.supabase.co/storage/v1/object/sign/static/images/publicacoes/boletins/boletim%207/Boletim-7-Capa.png?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJzdGF0aWMvaW1hZ2VzL3B1YmxpY2Fjb2VzL2JvbGV0aW5zL2JvbGV0aW0gNy9Cb2xldGltLTctQ2FwYS5wbmciLCJpYXQiOjE3MjQ0MjI3MzcsImV4cCI6MjAzOTc4MjczN30.nd56Npp7AZ-5o3jGf5XitVNei3bfcLUjnDaYwwVngi8&t=2024-08-23T14%3A18%3A57.750Z" />
          <DesignSystem.link
            href="https://drive.google.com/file/d/1L0bjc-k8qLUCtceCNGLaYSwLpBHWHGlq/view?usp=drive_link"
            class="text-sm font-semibold"
          >
            <.text size="h3" color="text-white-100">Boletim Pescarte 7</.text>
            <.text size="base" color="text-white-100">
              <b>Edição 7</b>: Janeiro a Junho de 2024
            </.text>
            <.button style="primary">
              Saiba mais <Lucideicons.arrow_right class="text-white-100" />
            </.button>
          </DesignSystem.link>
        </div>
        <div class="links-item">
          <img src={~p"/images/noticias/TECNOLOGIA_SOCIAL/capa_noti1.JPG"} />
          <DesignSystem.link href={~p"/publicacoes"} class="text-sm font-semibold">
            <.text size="h3" color="text-white-100">Boletim Pescarte 8</.text>
            <.text size="base" color="text-white-100">
              <b>Edição 8</b>: Julho a Dezembro de 2024
            </.text>
            <.text size="h3" color="text-white-100">
              Em construção ......
            </.text>
          </DesignSystem.link>
        </div>
      </div>
    </section>
  </div>
  
  <!-- ONDE NOS ENCONTRAR -->
  <PescarteWeb.DesignSystem.GetInTouch.render />
</main>
