.aboutus-wrapper {
  max-width: 100vw !important;
}

.aboutus-wrapper div {
  max-width: 100vw;
}

.lighter-banner {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  gap: 20px;
  height: 260px;
  width: 100vw;
  margin-bottom: 20px;
  background: #0064c8b0;
  background-blend-mode: multiply;
}

.lighter-banner .banner-img {
  z-index: -1;
  position: absolute;
  width: 100vw;
  height: 260px;
}

.get-to-know {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 56px;
  padding: 80px 40px;
}

.get-to-know img {
  object-fit: cover;
  height: 440px;
  width: 50%;
  max-width: 668px;
  border-radius: 16px;
  flex-shrink: 1;
}

.get-to-know .know-content {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.get-to-know .know-content h2 {
  margin-bottom: 20px;
}

@media (max-width: 770px) {
  .get-to-know {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 28px;
    padding: 40px 20px;
  }

  .get-to-know img {
    width: 100vw;
  }

  .get-to-know .know-content {
    width: 100vw;
    padding: 0px 20px;
    margin-top: 40px;
  }
}

.phases-img {
  display: flex;
  justify-content: center;
  margin: 100px 0px;
}

@media (min-width: 360px) and (max-width: 768px) {
  .phases-img {
    display: none;
  }
}

.phases {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 180px;
  padding: 40px;
}

.phases img {
  object-fit: cover;
  height: 490px;
  max-width: 668px;
  width: 50%;
  border-radius: 16px;
  transition: height 0.4s ease;
}

.phases .phase-content {
  display: flex;
  flex-direction: column;
  width: 50%;
  max-width: 800px;
}

.phases .phase-content .current-phase {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.phases .phase-content .current-phase h2 {
  margin-bottom: 0px;
}

.phases .phase-content .current-phase .were-here {
  display: flex;
  align-items: center;
  margin-left: 20px;
  background-color: #ff6e00;
  padding: 8px;
  border-radius: 2px;
  max-height: 25px;
}

.phases .phase-content h2 {
  margin-bottom: 20px;
}

.phases .phase-content p {
  margin: 20px 0px;
}

.phases .phase-content .accordion .accordion-bx {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  margin-bottom: 20px;
  background-color: #f3f3f3;
  border-radius: 8px;
  min-height: 60px;
  justify-content: center;
}

.phases .phase-content .accordion .accordion-bx .accordion-label {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.phases
  .phase-content
  .accordion
  .accordion-bx
  .accordion-label
  .text-black-100 {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  margin-right: 20px;
  transition: 0.5s;
}

.phases .phase-content .accordion .accordion-bx h4 {
  padding: 10px 25px;
}

.phases .phase-content .accordion .accordion-bx .accordion-content {
  position: relative;
  height: 0;
  overflow: hidden;
  overflow-y: auto;
}

.phases .phase-content .accordion .accordion-bx.active .accordion-label {
  margin-top: 20px;
}

.phases
  .phase-content
  .accordion
  .accordion-bx.active
  .accordion-label
  .text-black-100 {
  transform: rotate(180deg);
}

.phases .phase-content .accordion .accordion-bx.active .accordion-content {
  height: auto;
  padding: 10px 25px;
  transition: 0.3s;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .phases {
    padding: 40px 10px;
    gap: 90px;
  }

  .phases .accordion {
    max-width: fit-content;
  }
}

@media (min-width: 360px) and (max-width: 768px) {
  .phases {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 35px;
  }

  .phases .phase-content {
    order: 1;
    width: 100%;
  }

  .phases img {
    order: 2;
    width: 100%;
  }
}

.join-us {
  display: flex;
  flex-wrap: wrap;
  height: 600px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  background: #0064c8cc;
  background-blend-mode: multiply;
  margin-bottom: 80px;
}

.join-us h4 {
  position: absolute;
  text-align: center;
  max-width: 668px;
}

.join-us img {
  object-fit: cover;
  width: 100vw;
  height: 100%;
  z-index: -1;
}
