#login-wrapper {
  @apply flex justify-center items-center w-full;
}

.fish-bg {
  background-image: url("/images/fish_background.svg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}

.login-form {
  @apply flex flex-col;
  @apply justify-between items-center;
  @apply bg-white-100;
  // @apply border-2 border-red-100;

  gap: 2rem;
  height: 37.125rem;
  width: 39.75rem;
  border-radius: 24px;
  padding: 4rem;

  h3 {
    width: 27.25rem;
  }

  input {
    @apply w-full;
    height: 3rem;
    margin-top: 0.75rem;
  }

  button {
    width: 27.25rem;
    height: 3.5rem;

    p {
      color: white;
    }
  }

  div {
    width: 27.25rem;

    .checkbox-container {
      max-width: 60%;

      label p {
        font-size: 14px;
      }
    }

    a p {
      font-size: 14px;
    }
  }
}

.login-fieldset {
  width: 27.25rem;
  height: 5.25rem;
}
