.noticias-grid,
.noticia-wrapper {
  max-width: 100vw !important;
  div {
    max-width: 100vw;
  }
}

/* trocando gallery-carousel por land-carousel */
.land-carousel {
  margin-bottom: 70px;

  .glide1 {
    max-width: 100vw;
    max-height: 600px;
  }

  .glide__slide {
    max-width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      max-width: 1100px;
      max-height: 600px;
      background-size: cover;
      margin: 0 auto;
    }
  }
  .glide__slides {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .glide__bullets {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }

  .glide__bullet {
    @apply bg-black-10;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin: 0 5px;
  }

  .glide__bullet.active {
    @apply bg-blue-80;
  }
}

/* pegando o get-to-know do sobre e ajustando as notícias */
.get-to-know {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 56px;
  padding: 80px 40px;

  img {
    object-fit: cover;
    height: 465px;
    width: 50%;
    max-width: 668px;
    border-radius: 16px;
    flex-shrink: 1;
  }
  .know-content {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 25px;
  }
  @media (max-width: 768px) {
    .get-to-know {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 18px;
      padding: 40px 20px;
    }

    img {
      width: 100vw;
    }

    .know-content {
      width: 100vw;
      padding: 0px 20px;
      margin-top: 40px;
    }
  }
}
/* até aqui */

.phases {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 56px;
  padding: 80px 40px;
}

.noticia-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 25px;
}

/* Estilo para telas pequenas (móveis) */
@media (max-width: 768px) {
  .phases {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 18px;
    padding: 40px 20px;
  }
  .noticia-text {
    width: 100vw;
    padding: 0px 20px;
    margin-top: 40px;
  }
}
@media (min-width: 360px) and (max-width: 567px) {
  .phases {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 9px;
    padding: 20px 10px;
  }
  .noticia-text {
    width: 100vw;
    padding: 0px 10px;
    margin-top: 20px;
  }
}

.noticia {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 220px;
}

.noticia h1 {
  margin-bottom: 30px;
  line-height: 46px;
  font-weight: 700;
}

.noticia .noticia-descricao h2 {
  color: #0064c8;
  font-size: 32px;
  line-height: 38px;
  font-weight: 700;
  margin-top: 60px;
  margin-bottom: 30px;
}

.noticia .noticia-descricao h3 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #404040;
  margin-bottom: 30px;
}

.noticia .noticia-descricao strong em {
  text-decoration: underline;
  color: #0064c8;
  font-weight: 400;
  font-style: normal;
}

.noticia .noticia-descricao p {
  font-size: 16px;
  color: #404040;
  margin-bottom: 40px;
}

.noticia .noticia-descricao p a {
  font-weight: 700;
  line-height: 24px;
  color: #0064c8;
}

.noticia .noticia-descricao p a::after {
  content: "➔";
  display: inline-block;
  color: inherit;
  font-size: 0.8em;
  position: relative;
  transform: rotate(-45deg);
  bottom: 2px;
}

.noticia .noticia-descricao p a:hover {
  text-decoration-line: underline;
}

.noticia .noticia-descricao img {
  width: 100%;
  border-radius: 16px;
}

@media (max-width: 768px) {
  .noticia {
    padding: 40px;
  }
}
