.quem-somos {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.quem-somos .quem-somos-text {
  display: flex;
  flex-direction: column;
  gap: 40px;
  min-height: 300px;
  justify-content: center;
}

.quem-somos .quem-somos-text a {
  max-width: 120px !important;
}

.quem-somos .quem-somos-text-left {
  padding-right: 1rem;
}

.quem-somos .quem-somos-text-right {
  padding-left: 1rem;
}

.quem-somos img {
  width: 40rem;
  height: 30rem;
  margin-top: 15px;
}

.lg-list {
  font-size: 16px;
  list-style-type: disc;
  padding-left: 2rem;
}