.imagebank-grid {
  margin-top: 2rem;
  display: grid;
  gap: 2rem;
  grid-template-areas:
    "full-collection"
    "highlights";
}

.full-collection {
  margin-top: 2rem;
  h2 {
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
  }
}

.highlights {
  h2 {
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
  }
}

.image-bank-search{
  margin-bottom: 5rem;
}

.image-bank-search > * {
  margin: auto;
  width: 65vw !important;
  padding: 10px;
}

#image-bank-showcase {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  padding: 16px;
  width: 90%;
  margin: auto;
}

#image-bank-showcase > img {
  border-radius: 25px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: block;
}

.image-bank-load-button {
  margin:auto
}
