.landing-grid {
  overflow: scroll;
  display: grid;
  gap: 2rem;
  grid-template-areas:
    "top-banner"
    "links"
    "about"
    "news"
    "bottom-banner";
}

.top-banner {
  @apply w-full;

  height: 25rem;
  grid-area: top-banner;
}

.bottom-banner {
  @apply w-full;

  height: 30rem;
  grid-area: bottom-banner;
}

.links {
  @apply flex flex-wrap justify-center md:mt-10;

  .links-item {
    @apply flex flex-col justify-end m-4;
    height: 20.875rem;
    width: 20.125rem;
    border-radius: 8px;
    background: linear-gradient(180deg, rgba(16, 16, 16, 0) 0%, #101010 100%);

    img {
      @apply absolute;
      z-index: -10;
      height: inherit;
      width: inherit;
    }

    h3 {
      padding-left: 1rem;
    }

    p {
      width: 85%;
      margin-top: 0.5rem;
      padding: 0 1rem 1.5rem 1rem;
    }

    button {
      width: 60%;
      background-color: transparent;

      p {
        @apply w-full inline-flex;
        align-items: center;
        gap: 0.5rem;
        padding: 0 1rem 1rem 0;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.about {
  padding: 3rem 5rem;

  .about-text {
    height: 20rem;
    width: 26rem;

    h1 {
      margin-bottom: 1rem;
      margin-top: 0.25rem;
    }

    button {
      margin-top: 1rem;
    }
  }

  img {
    height: 30rem;
    width: 40rem;
  }
}

.news {
  h2 {
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
  }

  .news-cards {
    @apply flex flex-wrap justify-center md:mt-10;

    .news-item {
      @apply max-w-sm;
      border-radius: 0.5rem;
      border: 1px solid #66a2de;
      margin: 0 2.5rem 2.5rem 2.5rem;
      width: 20.125rem;

      img {
        border-radius: 0.5rem 0.5rem 0 0;
        width: 100%;
        height: auto;
      }

      h2 {
        display: flex;
        justify-content: center;
      }

      button {
        margin-top: 1rem;
      }
    }
  }
}
