.landing-grid {
  overflow: scroll;
  display: grid;
  gap: 2rem;
  grid-template-areas:
    "top-banner"
    "links"
    "about"
    "news"
    "bottom-banner";
}

.top-banner {
  @apply w-full;

  height: 25rem;
  grid-area: top-banner;
}

.bottom-banner {
  @apply w-full;

  height: 30rem;
  grid-area: bottom-banner;
}

.links {
  @apply flex flex-wrap justify-between md:mt-10;
  padding: 0 3rem;

  .links-item {
    @apply flex flex-col justify-end mb-4;
    height: 17rem;
    width: 19rem;

    img {
      @apply absolute;
      z-index: -10;
      height: inherit;
      width: inherit;
    }

    h3 {
      padding-left: 1rem;
    }

    p {
      width: 85%;
      padding: 0 1rem 0 1rem;
    }

    button {
      width: 10rem;
      background-color: transparent;

      p:nth-child(1) {
        width: 0;

        padding: 0;
      }

      p:nth-child(2) {
        width: 100%;

        padding: 0;
      }
    }
    // button {
    //   width: 10rem;
    //   background-color: transparent;
    //   margin-top: 1rem;
    //
    //   p {
    //     width: 0;
    //   }
    //
    //   &:hover {
    //     text-decoration: underline;
    //   }
    // }
  }
}

.about {
  @apply flex justify-between;

  padding: 3rem 5rem;

  .about-text {
    height: 20rem;
    width: 26rem;

    h1 {
      margin-bottom: 1rem;
      margin-top: 0.25rem;
    }

    button {
      margin-top: 1rem;
    }
  }

  img {
    height: 30rem;
    width: 40rem;
  }
}
