input[type="radio"] {
  color: transparent;
}

.radio-container {
  @apply flex justify-center;

  margin-bottom: 0.125rem;
  padding-left: 1.5rem;
  min-height: 1.5rem;

  input {
    @apply relative border-2 border-solid border-black-10;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    float: left;
    margin-left: -1.5rem;
    margin-right: 1rem;
    margin-top: 0.5rem;
    height: 1.25rem;
    width: 1.25rem;
    border-radius: 9999px;

    &::before {
      @apply absolute;

      pointer-events: none;
      height: 0.75rem;
      width: 0.75rem;
      transform: scale(0);
      border-radius: 9999px;
      background-color: transparent;
      opacity: 0;
      box-shadow: 0 0 0 13px transparent;
      content: "";
    }

    &::after {
      position: absolute;
      z-index: 1;
      display: block;
      height: 0.75rem;
      width: 0.75rem;
      border-radius: 9999px;
      content: "";
    }

    &:checked {
      @apply border-blue-100;

      &::before {
        opacity: 0.16;
      }

      &::after {
        @apply absolute bg-blue-100 border-blue-100;

        left: 50%;
        top: 50%;
        height: 0.625rem;
        width: 0.625rem;
        border-radius: 9999px;
        content: "";
        transform: translate(-50%, -50%);
      }

      &:focus {
        &::before {
          box-shadow: 0 0 0 13px var(--color-blue-100);
        }
      }
    }

    &:hover {
      cursor: pointer;

      &::before {
        opacity: 0.04;
        box-shadow: 0 0 0 13px rgba(0, 0, 0, 0.6);
      }
    }

    &:focus {
      outline: none;

      &::before {
        scale: 1;
        opacity: 0.12;
        box-shadow: 0 0 0 13px rgba(0, 0, 0, 0.6);
        transition: box-shadow 0.2s, transform 0.2s;
      }
    }
  }
}
