.search-input {
  @apply flex items-center border-2 border-black-40 text-black-80;

  width: 18.75rem;
  height: 3rem;
  font-size: 1rem;
  padding: 12px;
  border-radius: 4px;

  .search-icon {
    @apply flex items-center text-black-40;

    width: 1.5rem;
    height: 1.5rem;
  }

  input {
    padding-left: 12px;
  }
}
