/* ============ scss dos botões com icones ============ */
.search {
  display: flex;
  align-items: center;
  padding: 16px 24px 16px 24px;
  margin-right: 10px;
  border-radius: 4px;
  gap: 8px;
}

.links {
  @apply relative w-full;
  @apply flex justify-between;
  padding: 3rem 10rem;

  .links-item {
    @apply flex flex-col justify-end;
    height: 15rem;
    width: 14rem;

    button {
      width: 10rem;
      margin-top: 1rem;
    }
  }
}

/* ===================== desenha os botoes */
.icon-button {
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 5px;
  background-color: #f1f1f1;
  border-radius: 5px;
  cursor: pointer;
}

/* =========== scss do input com ícone =======*/
.search-input {
  @apply flex;
  /*text-black-80 justify-center items-center border-black-10*/
  @apply border-2;

  width: 33.75rem;
  height: 3rem;
  font-size: 1rem;
  padding: 12px;
  border-radius: 5px;
  /* equivale a 0.313 rem */
  position: relative;
  text-align: left;
  color: #e7e7e7;
  gap: 12px;
  /* define a separação entre o icone e a pesquisa */

  &.typing {
    @apply border-b-2;
  }

  &.empty {
    @apply border-2;
  }

  .search-icon {
    @apply flex items-center;
    /* text-black-80 */

    width: 1.5rem;
    height: 1.5rem;
    color: #e7e7e7;
  }

  input {
    padding-left: 12px;
    border: none;
  }
}
