// Let's hardcode the value for now as a temporary solution
$footer-height: 6.438rem;

.report-wrapper {
  @apply w-full;

  padding: 0 2.5rem;
  overflow-y: scroll;
  height: calc(100vh - $footer-height);

  > h1 {
    margin: 2.5rem 0;
  }

  > form {
    @apply flex flex-col;
    gap: 1.5rem;

    .buttons-wrapper {
      display: flex;
      margin-bottom: 2rem;

      :nth-child(2) {
        margin-left: 1rem;
      }
    }

    .input-date-group {
      @apply flex;
      gap: 1.5rem;

      .input-date {
        @apply flex flex-col;
        gap: 1.5rem;
      }
    }

    .report-field {
      height: max-content;
      margin-bottom: 2.25rem;

      h3 {
        margin-bottom: 0.75rem;
      }

      textarea {
        width: 100%;
        min-height: 12rem;
      }
    }
  }
}
