<section class="relative py-20 2xl:py-40 overflow-hidden">
  <div class="container px-3 mx-auto">
    <div class="max-w-3xl mx-auto text-center">
      <span class="text-5xl text-white font-bold"> Plataforma PEA Pescarte</span>
      <h2 class="my-10 text-5xl text-white font-heading">Portal do Pesquisador.</h2>
      <h2 class="my-10 text-5xl text-white font-heading">Em construção...</h2>
    </div>
  </div>
</section>
