<.live_component
  module={PlataformaDigital.Pesquisa.Relatorio.MensalLive.FormComponent}
  id={@relatorio.id}
  title={@page_title}
  action={@live_action}
  profile={@profile}
  patch={~p"/profiles/#{@profile}"}
/>
