// Paleta de Cores
$preto-100: #101010;
$preto-80: #404040;
$preto-60: #707070;
$preto-40: #9f9f9f;
$preto-20: #cfcfcf;
$preto-10: #e7e7e7;
$preto-5: #f3f3f3;

$azul-100: #0064c8;
$azul-80: #3383d3;
$azul-60: #66a2de;
$azul-40: #99c1e9;
$azul-20: #cce0f4;
$azul-10: #e5eff9;
$azul-5: #f2f7fc;

$laranja-100: #ffe600;
$laranja-80: #ffb833;
$laranja-60: #ffa866;
$laranja-40: #ffc599;
$laranja-20: #ffe2cc;
$laranja-10: #fff0e5;
$laranja-5: #fff8f2;

$verde-100: #00b464;
$verde-80: #33c383;
$verde-60: #66d2a2;
$verde-40: #99e1c1;
$verde-20: #ccf0e0;
$verde-10: #e5f7ef;
$verde-5: #f2fbf7;

$amarelo-100: #ffc832;
$amarelo-80: #ffd35b;
$amarelo-60: #ffe084;
$amarelo-40: #ffe9ad;
$amarelo-20: #fff2d6;
$amarelo-10: #fff9eb;
$amarelo-5: #fffcf5;

$vermelho-100: #fa3232;
$vermelho-80: #fb5b5b;
$vermelho-60: #fc8484;
$vermelho-40: #fdadad;
$vermelho-20: #fed6d6;
$vermelho-10: #febebe;
$vermelho-5: #fff5f5;

// Tipografia
$font-family: "Work Sans", sans-serif;
$font-size-h1: 40px;
$font-size-h2: 32px;
$font-size-h3: 24px;
$font-size-h4: 20px;
$font-size-h5: 16px;
$font-size-body-large: 16px;
$font-size-body-medium: 14px;
$font-size-body-small: 12px;

$line-height-h1: 46px;
$line-height-h2: 38px;
$line-height-h3: 28px;
$line-height-h4: 24px;
$line-height-h5: 18px;
$line-height-body-large: 22px;
$line-height-body-medium: 20px;
$line-height-body-small: 18px;

// Variáveis de Grid
$columns: 12;
$gutter-width: 16px;

// Variáveis de Progressão
$spacing-scale: 8px;
$spacing-values: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10;

// Mixins de Grid
@mixin grid-container {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  gap: $gutter-width;
}

@mixin grid-item($span) {
  grid-column: span $span;
}

// Mixins de Progressão
@mixin spacing($property, $multiplier) {
  #{$property}: $spacing-scale * $multiplier;
}

@mixin horizontal-spacing($property, $multiplier) {
  #{$property}-left: $spacing-scale * $multiplier;
  #{$property}-right: $spacing-scale * $multiplier;
}

@mixin vertical-spacing($property, $multiplier) {
  #{$property}-top: $spacing-scale * $multiplier;
  #{$property}-bottom: $spacing-scale * $multiplier;
}

// Tipografia
@mixin typography($size, $line-height, $weight) {
  font-family: $font-family;
  font-size: $size;
  line-height: $line-height;
  font-weight: $weight;
}

// Classes Utilitárias de Grid
.container {
  @include grid-container;
}

.item-1 {
  @include grid-item(1);
}

.item-2 {
  @include grid-item(2);
}

.item-3 {
  @include grid-item(3);
}

.item-4 {
  @include grid-item(4);
}

.item-5 {
  @include grid-item(5);
}

.item-6 {
  @include grid-item(6);
}

.item-7 {
  @include grid-item(7);
}

.item-8 {
  @include grid-item(8);
}

.item-9 {
  @include grid-item(9);
}

.item-10 {
  @include grid-item(10);
}

.item-11 {
  @include grid-item(11);
}

.item-12 {
  @include grid-item(12);
}

// Classes Utilitárias de Progressão
.m-top-1 {
  @include spacing(margin-top, 1);
}

.m-top-2 {
  @include spacing(margin-top, 2);
}

.m-top-3 {
  @include spacing(margin-top, 3);
}

.m-top-4 {
  @include spacing(margin-top, 4);
}

.m-top-5 {
  @include spacing(margin-top, 5);
}

.m-bottom-1 {
  @include spacing(margin-bottom, 1);
}

.m-bottom-2 {
  @include spacing(margin-bottom, 2);
}

.m-bottom-3 {
  @include spacing(margin-bottom, 3);
}

.m-bottom-4 {
  @include spacing(margin-bottom, 4);
}

.m-bottom-5 {
  @include spacing(margin-bottom, 5);
}

.p-horizontal-1 {
  @include horizontal-spacing(padding, 1);
}

.p-horizontal-2 {
  @include horizontal-spacing(padding, 2);
}

.p-horizontal-3 {
  @include horizontal-spacing(padding, 3);
}

.p-horizontal-4 {
  @include horizontal-spacing(padding, 4);
}

.p-horizontal-5 {
  @include horizontal-spacing(padding, 5);
}

.p-vertical-1 {
  @include vertical-spacing(padding, 1);
}

.p-vertical-2 {
  @include vertical-spacing(padding, 2);
}

.p-vertical-3 {
  @include vertical-spacing(padding, 3);
}

.p-vertical-4 {
  @include vertical-spacing(padding, 4);
}

.p-vertical-5 {
  @include vertical-spacing(padding, 5);
}

// Classes Utilitárias de Tipografia
.h1 {
  @include typography($font-size-h1, $line-height-h1, bold);
}

.h2 {
  @include typography($font-size-h2, $line-height-h2, bold);
}

.h3 {
  @include typography($font-size-h3, $line-height-h3, bold);
}

.h4 {
  @include typography($font-size-h4, $line-height-h4, medium);
}

.h5 {
  @include typography($font-size-h5, $line-height-h5, medium);
}

.body-large {
  @include typography($font-size-body-large, $line-height-body-large, normal);
}

.body-medium {
  @include typography($font-size-body-medium, $line-height-body-medium, normal);
}

.body-small {
  @include typography($font-size-body-small, $line-height-body-small, normal);
}

// Classes Utilitárias de Cores
.text-preto-100 {
  color: $preto-100;
}

.text-preto-80 {
  color: $preto-80;
}

.text-preto-60 {
  color: $preto-60;
}

.text-preto-40 {
  color: $preto-40;
}

.text-preto-20 {
  color: $preto-20;
}

.text-preto-10 {
  color: $preto-10;
}

.text-preto-5 {
  color: $preto-5;
}

.bg-preto-100 {
  background-color: $preto-100;
}

.bg-preto-80 {
  background-color: $preto-80;
}

.bg-preto-60 {
  background-color: $preto-60;
}

.bg-preto-40 {
  background-color: $preto-40;
}

.bg-preto-20 {
  background-color: $preto-20;
}

.bg-preto-10 {
  background-color: $preto-10;
}

.bg-preto-5 {
  background-color: $preto-5;
}

.text-azul-100 {
  color: $azul-100;
}

.text-azul-80 {
  color: $azul-80;
}

.text-azul-60 {
  color: $azul-60;
}

.text-azul-40 {
  color: $azul-40;
}

.text-azul-20 {
  color: $azul-20;
}

.text-azul-10 {
  color: $azul-10;
}

.text-azul-5 {
  color: $azul-5;
}

.bg-azul-100 {
  background-color: $azul-100;
}

.bg-azul-80 {
  background-color: $azul-80;
}

.bg-azul-60 {
  background-color: $azul-60;
}

.bg-azul-40 {
  background-color: $azul-40;
}

.bg-azul-20 {
  background-color: $azul-20;
}

.bg-azul-10 {
  background-color: $azul-10;
}

.bg-azul-5 {
  background-color: $azul-5;
}

.text-vermelho-100 {
  color: $vermelho-100;
}

.text-vermelho-80 {
  color: $vermelho-80;
}

.text-vermelho-60 {
  color: $vermelho-60;
}

.text-vermelho-40 {
  color: $vermelho-40;
}

.text-vermelho-20 {
  color: $vermelho-20;
}

.text-vermelho-10 {
  color: $vermelho-10;
}

.text-vermelho-5 {
  color: $vermelho-5;
}

.bg-vermelho-100 {
  background-color: $vermelho-100;
}

.bg-vermelho-80 {
  background-color: $vermelho-80;
}

.bg-vermelho-60 {
  background-color: $vermelho-60;
}

.bg-vermelho-40 {
  background-color: $vermelho-40;
}

.bg-vermelho-20 {
  background-color: $vermelho-20;
}

.bg-vermelho-10 {
  background-color: $vermelho-10;
}

.bg-vermelho-5 {
  background-color: $vermelho-5;
}

.text-verde-100 {
  color: $verde-100;
}

.text-verde-80 {
  color: $verde-80;
}

.text-verde-60 {
  color: $verde-60;
}

.text-verde-40 {
  color: $verde-40;
}

.text-verde-20 {
  color: $verde-20;
}

.text-verde-10 {
  color: $verde-10;
}

.text-verde-5 {
  color: $verde-5;
}

.bg-verde-100 {
  background-color: $verde-100;
}

.bg-verde-80 {
  background-color: $verde-80;
}

.bg-verde-60 {
  background-color: $verde-60;
}

.bg-verde-40 {
  background-color: $verde-40;
}

.bg-verde-20 {
  background-color: $verde-20;
}

.bg-verde-10 {
  background-color: $verde-10;
}

.bg-verde-5 {
  background-color: $verde-5;
}

.text-amarelo-100 {
  color: $amarelo-100;
}

.text-amarelo-80 {
  color: $amarelo-80;
}

.text-amarelo-60 {
  color: $amarelo-60;
}

.text-amarelo-40 {
  color: $amarelo-40;
}

.text-amarelo-20 {
  color: $amarelo-20;
}

.text-amarelo-10 {
  color: $amarelo-10;
}

.text-amarelo-5 {
  color: $amarelo-5;
}

.bg-amarelo-100 {
  background-color: $amarelo-100;
}

.bg-amarelo-80 {
  background-color: $amarelo-80;
}

.bg-amarelo-60 {
  background-color: $amarelo-60;
}

.bg-amarelo-40 {
  background-color: $amarelo-40;
}

.bg-amarelo-20 {
  background-color: $amarelo-20;
}

.bg-amarelo-10 {
  background-color: $amarelo-10;
}

.bg-amarelo-5 {
  background-color: $amarelo-5;
}

.text-laranja-100 {
  color: $laranja-100;
}

.text-laranja-80 {
  color: $laranja-80;
}

.text-laranja-60 {
  color: $laranja-60;
}

.text-laranja-40 {
  color: $laranja-40;
}

.text-laranja-20 {
  color: $laranja-20;
}

.text-laranja-10 {
  color: $laranja-10;
}

.text-laranja-5 {
  color: $laranja-5;
}

.bg-laranja-100 {
  background-color: $laranja-100;
}

.bg-laranja-80 {
  background-color: $laranja-80;
}

.bg-laranja-60 {
  background-color: $laranja-60;
}

.bg-laranja-40 {
  background-color: $laranja-40;
}

.bg-laranja-20 {
  background-color: $laranja-20;
}

.bg-laranja-10 {
  background-color: $laranja-10;
}

.bg-laranja-5 {
  background-color: $laranja-5;
}
