.aboutus-wrapper {
  max-width: 100vw !important;

  div {
    max-width: 100vw;
  }
}

.lighter-banner{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  gap: 20px;
  height: 260px;
  margin-bottom: 20px;
  background: #0064c8b0;
  background-blend-mode: multiply;

  .banner-img {
      z-index: -1;
      position: absolute;
      width: 100vw;
      height: 260px;
  }

}

.get-to-know {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 56px;
  padding: 80px 40px;

  img {
    object-fit: cover;
    height: 440px;
    width: 50%;
    max-width: 668px;
    border-radius: 16px;
    flex-shrink: 1;
  }

  .know-content {
    display: flex;
    flex-direction: column;
    width: 50%;

    h2 {
      margin-bottom: 20px;
    }
  }

  @media (max-width: 770px) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 28px;
    padding: 40px 20px;

    img {
      width: 100vw;
      height: auto;
      padding: 0 20px;
      border-radius: 8%;
    }

    .know-content {
      width: 100vw;
      padding: 0px 20px;
      margin-top: 40px;
    }
  }
}

.phases-img {
  display: flex;
  justify-content: center;
  margin: 100px 0px;
}

@media (min-width: 360px) and (max-width: 768px) {
  .phases-img {
    display: none;
  }
}

.phases {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 180px;
  padding: 40px;

  img {
    object-fit: cover;
    height: 490px;
    max-width: 668px;
    width: 50%;
    border-radius: 16px;
    transition: height 0.4s ease;
  }

  .phase-content {
    display: flex;
    flex-direction: column;
    width: 50%;
    max-width: 800px;

    .current-phase {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 20px;

      h2 {
        margin-bottom: 0px;
      }

      .were-here {
        display: flex;
        align-items: center;
        margin-left: 20px;
        background-color: #FF6E00;
        padding: 8px;
        border-radius: 2px;
        max-height: 25px;
      }
    }

    h2 {
      margin-bottom: 20px;
    }

    p {
      margin: 20px 0px;
    }

    .accordion {
      .accordion-bx {
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: center;
        margin-bottom: 20px;
        background-color: #F3F3F3;
        border-radius: 8px;
        min-height: 60px;
        justify-content: center;

        .accordion-label {
          display: flex;
          width: 100%;
          align-items: center;
          justify-content: center;
          cursor: pointer;

          .text-black-100 {
            width: 24px;
            height: 24px;
            flex-shrink: 0;
            margin-right: 20px;
            transition: 0.5s;
          }
        }

        h4 {
          padding: 10px 25px;
        }

        .accordion-content {
          position: relative;
          height: 0;
          overflow: hidden;
          overflow-y: auto;
        }

      }

      .accordion-bx.active {

        .accordion-label {
          margin-top: 20px;

          .text-black-100 {
            transform: rotate(180deg);
          }
        }

        .accordion-content {
          height: auto;
          padding: 10px 25px;
          transition: 0.3s;
        }
      }
    }
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    padding: 40px 10px;
    gap: 90px;

    .accordion {
      max-width: fit-content;
    }

<<<<<<< feat/responsive-landing
      .accordion-bx {
        width: 75%;

        @media(max-width: 810px) {
          width: 60%;
        }
      }
=======
  }

}

@media (min-width: 360px) and (max-width: 768px) {
  .phases {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 35px;

    .phase-content {
      order: 1;
      width: 100%;
>>>>>>> main
    }

    img {
      order: 2; 
      width: 100%;
    }

  }
}

.join-us {
  display: flex;
  flex-wrap: wrap;
  height: 600px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  background: #0064C8CC;
  background-blend-mode: multiply;
  margin-bottom: 80px;

  h4 {
    position: absolute;
    text-align: center;
    max-width: 668px;
  }

  img {
    object-fit: cover;
    width: 100vw;
    height: 100%;
    z-index: -1;
  }
}