.get-to-know {
    display: flex;
    align-items: flex-start;
    gap: 80px;
    padding: 120px 120px;


    img {
        object-fit: cover;
        height: 440px;
        width: 668px;
        border-radius: 16px;
    }

    .know-content {
        display: flex;
        flex-direction: column;
        padding-top: 7.5%;

        h2 {
            margin-bottom: 20px;
        }
    }
}


.phases {
    display: flex;
    align-items: flex-start;
    gap: 80px;
    padding: 40px 120px;


    img {
        object-fit: cover;
        height: 470px;
        min-width: 668px;
        border-radius: 16px;
    }

    .phase-content {
        display: flex;
        flex-direction: column;

        h2 {
            margin-bottom: 20px;
        }

        p {
            margin: 20px 0px;
        }

        .dropdown {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-bottom: 15px;
            background-color: #F3F3F3;
            border-radius: 8px;
            min-height: 60px;
            min-width: 600px;


            h4 {
                padding-left: 25px;
            }

            .text-black-100 {
                margin-right: 20px;
            }
        }
    }
}


.join-us {
    display: flex;
    flex-wrap: wrap;
    min-height: 600px;
    justify-content: center;
    align-items: center;
    background: #0064C8CC;
    background-blend-mode: multiply;


    h4 {
        text-align: center;
        max-width: 668px;
        height: 180px;
    }

    img {
        position: absolute;
        min-width: 100vw;
        max-height: 600px;
        z-index: -1;
    }
}