.banner {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 20px;
    height: 260px;
    background: rgba(0, 50, 100, 0.8);
    margin-bottom: 60px;
    
    .banner-img {
        z-index: -1;
        position: absolute;
        width: 100vw;
        max-height: 260px; 
    }

}

.atividades {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-bottom: 40px;

    .table-label {
        margin-bottom: 15px;
    }

    .table-container {
        width: 100%;
        overflow-x: auto;
    }

    table {
        margin-bottom: 20px;
        width: 100%;
        border-collapse: collapse;

        thead {
            h4{
                font-weight: bold;
            }
        }

        th {
            width: 14%;
            padding: 0.75rem 1rem;
        }

        tr {
            padding: 0.75rem 1rem;
        }
    }

}

.join-us {
    display: flex;
    flex-wrap: wrap;
    height: 600px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    background: #0064C8CC;
    background-blend-mode: multiply;
    margin-bottom: 80px;
  
    h4 {
      position: absolute;
      text-align: center;
      max-width: 668px;
    }
  
    img {
      width: 100vw;
      height: 100%;
      z-index: -1;
    }
  }