@tailwind base;
@tailwind components;
@tailwind utilities;

$nav-width: 8.75rem;
$navbar-height: 6.125rem;
$footer-height: 6.438rem;

.link {
  @apply hover:underline decoration-from-font;
  @apply text-blue-80 decoration-blue-80;
}

.flex-center {
  @apply flex justify-center items-center;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

*:focus {
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.wh-screen {
  min-height: 100vh;
  min-width: 100vw;
  max-height: 100vh;
  min-height: 100vh;
}

body,
.grid,
.auth-grid {
  @apply wh-screen;
}

.phx-error {
  opacity: 0.25;
  cursor: not-allowed;
}

.phx-error * {
  pointer-events: none;
}

body {
  @apply bg-white-100;
  -webkit-font-smoothing: antialiased;
  font-family: "Work Sans";
  font-size: 62.5%;
  font-weight: 400;
  position: relative;
}

.grid {
  display: grid;
  grid-template-rows: $navbar-height 1fr $footer-height;
  grid-template-areas: "nav" "content" "footer";
}

.auth-grid {
  display: grid;
  grid-template-rows: calc(100vh - $footer-height) $footer-height;
  grid-template-columns: $nav-width 1fr;
  grid-template-areas:
    "nav content"
    "nav footer";

  header {
    @apply h-screen;
  }

  header>nav {
    @apply h-full;
  }

  main {
    @apply h-full w-full;
  }
}

nav {
  grid-area: nav;
}

main {
  grid-area: content;
  margin-bottom: 100px;
}

footer {
  grid-area: footer;
}

.col-1 {
  grid-column: span 1 / span 1;
}

.col-2 {
  grid-column: span 2 / span 2;
}

.col-3 {
  grid-column: span 3 / span 3;
}

.col-4 {
  grid-column: span 4 / span 4;
}

.col-5 {
  grid-column: span 5 / span 5;
}

.col-6 {
  grid-column: span 6 / span 6;
}

.col-7 {
  grid-column: span 7 / span 7;
}

.col-8 {
  grid-column: span 8 / span 8;
}

.col-9 {
  grid-column: span 9 / span 9;
}

.col-10 {
  grid-column: span 10 / span 10;
}

.col-11 {
  grid-column: span 11 / span 11;
}

.col-12 {
  grid-column: span 12 / span 12;
}

// Componentes
@import "./button.scss";
@import "./checkbox.scss";
@import "./flash.scss";
@import "./get_in_touch.scss";
@import "./input.scss";
@import "./landing.scss";
@import "./quemsomos.scss";
@import "./navbar.scss";
@import "./radio.scss";
@import "./search.scss";
@import "./textarea.scss";
@import "./tabela.scss";
@import "./label.scss";
/* @import "./dropdown.scss"; */
@import "./select.scss";
@import "./multiple_select.scss";
@import "./date_input.scss";

// Páginas
// Sem autenticação
@import "./pages/login.scss";
@import "./aboutus.scss";
@import "./noticias.scss";
@import "./cooperativas.scss";

@import "./agenda.scss";
@import "./contact.scss";
@import "./article.scss";
@import "./boletins.scss";
@import "./noticias.scss";
@import "./cards.scss";

// Com autenticação
@import "./pages/app/researcher/profile.scss";
@import "./pages/app/researcher/listagem_pesquisador.scss";
@import "./pages/app/researcher/relatorio/list_report.scss";
@import "./pages/app/researcher/relatorio/report.scss";
@import "./pages/app/researcher/pesquisador";

// Páginas de Erros
@import "./errors/404.scss";
