@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./login.scss";
@import "./input.scss";

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  font: 62.5% 'Work Sans' regular !important;
}
