@tailwind base;
@tailwind components;
@tailwind utilities;

@import "theme.scss";
@import "navbar.scss";
@import "icons.scss";

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: var(--blue-dark);
  -webkit-font-smoothing: antialiased;
}

input,
textarea {
  color: #000;
  font: 400 1.6rem 'Open Sans', sans-serif !important;
}

input::placeholder {
  text-transform: uppercase;
  color: var(--blue-light);
  text-align: center;
  font: 400 1.6rem 'Open Sans';
}

textarea::placeholder {
  color: var(--blue-light);
  text-align: left;
  font: 400 1.6rem 'Open Sans';
}

textarea:focus, input:focus, fieldset:focus {
  outline: none !important;
  outline-style: none !important;
  box-shadow: none !important;
  border-color: transparent !important;
}

button, .btn {
  @apply rounded-full;

  border-color: var(--blue-3);
  cursor: pointer;
  background-color: var(--white-1);
  font: 500 var(--4xs) 'Work Sans', sans-serif;
  color: var(--blue-3);

  &:hover {
    background-color: var(--blue-3);
  }
}

.btn-small {
  width: var(--3mega);
}

.btn-icon {
  @apply flex justify-center items-center;
}

textarea {
  resize: none;
  padding: 2rem;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}

::-webkit-scrollbar-track {
  background: transparent;
}

.active {
  background: var(--orange);
  padding: 10px;
  margin: -10px;
  clip-path: polygon(0 0, 100% 0, 100% 60%, 50% 100%, 0 60%);
}
