@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./button.scss";
@import "./checkbox.scss";
@import "./input.scss";
@import "./landing.scss";
@import "./navbar.scss";

$nav-width: 8.75rem;
$navbar-height: 6.125rem;
$footer-height: 6.438rem;

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

*:focus {
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

body,
.grid,
.auth-grid {
  min-height: 100vh;
  min-width: 100vw;
  max-height: 100vh;
  min-height: 100vh;
}

body {
  @apply bg-white-100;
  -webkit-font-smoothing: antialiased;
  font: 62.5% 'Work Sans' regular !important;
}

footer {
  @apply border-black-10;
  border-top-width: 1px;
}

.grid {
  display: grid;
  grid-template-rows: $navbar-height 1fr $footer-height;
  grid-template-areas: 'nav' 'content' 'footer';
}

.auth-grid {
  display: grid;
  grid-template-rows: 1fr $footer-height;
  grid-template-columns: $nav-width 1fr;
  grid-template-areas: 'nav content' 'nav footer';
}

nav {
  grid-area: nav;
}

main {
  grid-area: content;
}

footer {
  grid-area: footer;
}

.col-1 {
  grid-column: span 1 / span 1;
}

.col-2 {
  grid-column: span 2 / span 2;
}

.col-3 {
  grid-column: span 3 / span 3;
}

.col-4 {
  grid-column: span 4 / span 4;
}

.col-5 {
  grid-column: span 5 / span 5;
}

.col-6 {
  grid-column: span 6 / span 6;
}

.col-7 {
  grid-column: span 7 / span 7;
}

.col-8 {
  grid-column: span 8 / span 8;
}

.col-9 {
  grid-column: span 9 / span 9;
}

.col-10 {
  grid-column: span 10 / span 10;
}

.col-11 {
  grid-column: span 11 / span 11;
}

.col-12 {
  grid-column: span 12 / span 12;
}

.link {
  @apply hover:underline decoration-from-font;
  @apply text-blue-80 decoration-blue-80;
}

.flex-center {
  @apply flex justify-center items-center;
}
