@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./login.scss";
@import "./input.scss";
@import "./navbar.scss";
@import "./button.scss";
@import "./relatorio.scss";
@import "./profile.scss";

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

*:focus {
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

body {
  @apply flex flex-col;
  @apply items-center justify-between;

  position: relative;
  max-height: 100vh;
  min-height: 100vh;
  max-width: 100vw;
  min-width: 100vw;
  -webkit-font-smoothing: antialiased;
  font: 62.5% 'Work Sans' regular !important;

  .phx-connected {
    @apply h-full w-full;
    margin-left: 6.540rem;
  }
}

body.fish {
  background-image: url("/images/fish_background.svg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
