.btn {
  @apply py-6 px-4;
  @apply flex justify-center items-center;
  @apply text-base font-medium leading-4;

  height: 3rem;
  gap: 0.5rem;
  border-radius: 0.25rem;
}

.btn-primary {
  @apply bg-blue-100;
  @apply text-white-100;

  &:hover {
    @apply bg-blue-60;
  }

  &:disabled {
    @apply bg-blue-20;
  }
}

.btn-secondary {
  @apply bg-white-100;
  @apply text-blue-80;
  @apply border-blue-80;

  border-width: 1.5px;

  &:hover {
    @apply border-blue-60;
    @apply text-blue-60;
  }

  &:disabled {
    @apply border-blue-20;
    @apply text-blue-20;
  }
}
