.card-links {
  @apply flex flex-wrap justify-center;


  .card-item {
    @apply flex flex-col justify-start items-start m-8;
    width: 20.125rem;
    height: 20.875rem;
    border-radius: 8px;
    box-sizing: border-box;
    background: linear-gradient(180deg, rgba(16, 16, 16, 0) 0%, #101010 100%);

    a {
      @apply flex flex-col mt-auto;
    }

    img {
      @apply absolute;
      z-index: -10;
      height: inherit;
      width: inherit;
    }

    h3 {
      padding-left: 1rem;
    }

    p {
      text-wrap: wrap;
      margin-top: 0.5rem;
      padding: 0 1rem 1.5rem 1rem;
    }

    button {
      width: 100%;
      padding: 0 1rem 1.5rem 0;
      background-color: transparent;

      p {
        display: inline-flex;
        width: inherit;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

@media (max-width: 768px) and (min-width: 577px){
.card-links{
  .card-item{
    width: 70%;
    height: 16rem;

    img{
      border-radius: 8px;
    }
  }
}

}

@media (min-width: 350px) and (max-width: 576px){
  .card-links{
    .card-item{
      width: 80%;
      height: 14rem;

      img{
        border-radius: 8px;
      }
    }
  }

}
