.checkbox-container input[type="checkbox"] {
  @apply border-black-10;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  padding: 0;
  margin: 0.5em;
  width: 1.2em;
  height: 1.2em;
  vertical-align: middle;
  border-radius: 0.25rem;
  transition: background-color 0.2s ease-in-out;
}

.checkbox-container input[type="checkbox"]:checked {
  @apply bg-blue-100 border-blue-40;
  border-width: 1px;
}

.checkbox-container input[type="checkbox"]:focus {
  outline: none;
  box-shadow: none;
}

.checkbox-container input[type="checkbox"]:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
