.equipe-grid {
  overflow: scroll;
  display: grid;
  gap: 2rem;
  grid-template-areas:
    "title"
    "links"
    "about"
    "bottom-banner";
}
.title {
  @apply justify-center w-full;

  grid-area: title;
}
.bottom-banner {
  @apply w-full;

  height: 30rem;
  grid-area: bottom-banner;
}
.links {
  @apply flex flex-wrap justify-center md:mt-10;

  .links-item {
    @apply flex flex-col justify-end m-4;
    height: 20.875rem;
    width: 20.125rem;
    border-radius: 8px;
    background: linear-gradient(180deg, rgba(16, 16, 16, 0) 0%, #101010 100%);

    img {
      @apply absolute;
      z-index: -10;
      height: inherit;
      width: inherit;
    }

    h3 {
      padding-left: 1rem;
    }

    p {
      width: 85%;
      margin-top: 0.5rem;
      padding: 0 1rem 1.5rem 1rem;
    }
  }
}
.news {
  h1 {
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
  }
}
