.flash-component {
  display: inline-flex;
  flex-direction: column-reverse;
  position: fixed;
  max-width: 25rem;
  top: 1.5rem;
  right: 1.5rem;
  padding: 0.75rem;
  align-items: flex-start;
  gap: 0.75rem;
  border-radius: 0.25rem;
  background-color: #fff;

  .flash {
    @apply flex items-center;
    gap: 0.75rem;


    .toast-icon {
      width: 1.5rem;
      height: 1.5rem;
    }

    p {
      @apply text-black-80;
    }
  }
}

.flash-component.success {
  @apply border-2 border-solid border-green-40;

  .flash-icon {
    @apply text-green-100;
  }
}

.flash-component.warning {
  @apply border-2 border-solid border-yellow-40;

  .flash-icon {
    @apply text-yellow-100;
  }
}

.flash-component.error {
  @apply border-2 border-solid border-red-40;

  .flash-icon {
    @apply text-red-100;
  }
}

.flash-component.show {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 200ms ease-in-out, transform 200ms ease-in-out;
}

#flash-group {
  display: flex;
  flex-direction: column;
  position: fixed;
  align-items: flex-end;
  top: 1.5rem;
  right: 1.5rem;
  gap: 0.5rem;

  .flash-component {
    position: relative;
  }
}