.georreferenciamento-wrapper {
  .card-links {
    border-radius: none;

    .card-item {
      width: 16.5rem;
    }
  }
}

@media (min-width: 530px) and (max-width: 770px) {

  .georreferenciamento-wrapper {
    .card-links {
      border-radius: 8px;

      .card-item {
        @apply flex flex-col justify-start items-start m-8;
        width: 50%;
        height: 16rem;
        border-radius: 8px;
        box-sizing: border-box;
        background: linear-gradient(180deg, rgba(16, 16, 16, 0) 0%, #101010 100%);
      }
    }
  }
}

@media (min-width: 350px) and (max-width: 529px) {

  .georreferenciamento-wrapper {
    .card-links {
      border-radius: 8px;

      .card-item {
        @apply flex flex-col justify-start items-start m-8;
        width: 70%;
        height: 15rem;
        border-radius: 8px;
        box-sizing: border-box;
        background: linear-gradient(180deg, rgba(16, 16, 16, 0) 0%, #101010 100%);
      }
    }
  }
}
