.onde-nos-encontrar-wrapper {
  @apply flex bg-orange-100;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding: 5rem;

  .redes-sociais-wrapper {
    @apply flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .redes-sociais-links-wrapper {
      @apply flex;
      padding-top: 2.5rem;

      .redes-sociais-link {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
        padding: 0 5rem 0 5rem;

        .redes-sociais-icon {
          @apply flex bg-white-100 text-orange-100;
          justify-content: center;
          align-items: center;
          border-radius: 100%;

          width: 88px;
          height: 88px;

          svg {
            width: 2.5rem;
            height: 2.5rem;
          }
        }

        p {
          @apply text-white-100;
        }
      }
    }
  }

  .fale-conosco-wrapper {
    @apply flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;

    .contact-btn {
      @apply flex bg-white-100;
      justify-content: center;
      align-items: center;
      border-radius: 4px;
      padding: 1rem 1.5rem 1rem 1.5rem;
      cursor: pointer;
      text-decoration: none;
      height: 3rem;
      gap: 0.5rem;

      p {
        @apply text-orange-100;
        font-size: 16px;
      }

      svg {
        @apply text-orange-100;
      }
    }
  }
}
