.landing-grid {
  display: grid;
  /* Ajuste automático das colunas */
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-areas:
    "landing-carousel"
    "landing-links"
    "project"
    "news"
    "gallery-carousel"
    "onde-nos-encontrar";

  width: 100%;
  gap: 5rem;
  overflow: scroll;
  overflow-x: hidden;

  .landing-carousel {
    grid-area: landing-carousel;
    grid-column: 1 / -1;

    .glide__slides {
      height: 30.5625rem;

      .glide__slide img {
        background-size: cover;
        transform: translateY(-20%);
      }
    }

    .glide__bullets {
      display: flex;
      justify-content: center;
      margin-top: 40px;
      margin-bottom: 40px;
    }

    .glide__bullet {
      @apply bg-black-10;
      height: 10px;
      width: 10px;
      border-radius: 50%;
      margin: 0 5px;
    }

    .glide__bullet.active {
      @apply bg-blue-80;
    }
  }

  .landing-links {
    @apply flex flex-wrap justify-center;
    grid-area: landing-links;
    width: 100%;
    gap: 1rem;

    .links-item {
      @apply flex flex-col justify-start items-start bg-blue-100;
      width: 13.333rem;
      height: 6.5rem;
      padding: 1.5rem;
      border-radius: 0.5rem;

      a {
        @apply flex flex-col;
        gap: 1rem;
      }

      img {
        @apply hidden;
      }

      h3 {
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 700;
        line-height: 1.75rem;
      }

      button {
        @apply flex;
        margin: 0;
        padding: 0;
        gap: 0.5rem;
        background-color: transparent;

        p {
          @apply text-white-100;
          font-size: 1rem;
          font-style: normal;
          font-weight: 500;
          line-height: 1.125rem;
        }
      }
    }

    @media (max-width: 768px) {
      padding: 1rem 1rem;

      .links-item {
        position: relative;
        width: 100%;
        box-sizing: border-box;
        background: linear-gradient(180deg, rgba(16, 16, 16, 0) 0%, #101010 100%);

        img {
          @apply block absolute;
          width: inherit;
          height: inherit;
          border-radius: 0.5rem;
          object-fit: cover;

          top: 0;
          left: 0;
          right: 0;
          bottom: 0;

          z-index: -10;
        }
      }
    }
  }

  .project {
    @apply flex justify-between;
    grid-area: project;
    /* width: 100%; */
    padding: 0 2.5rem;

    .project-content {
      @apply flex flex-col;
      gap: 0.94rem;
      width: 50%;

      p {
        font-size: 0.75rem;
        font-style: normal;
        font-weight: 700;
        line-height: 1.125rem;
        color: #9f9f9f;
      }

      .project-body {
        @apply flex flex-col;
        gap: 2.5rem;
        width: 90%;

        a button {
          @apply flex;
          height: 3rem;
          padding: 1rem 1.5rem;
          justify-content: center;
          align-items: center;
          gap: 0.5rem;

          p {
            @apply text-white-100;
            font-size: 1rem;
            font-weight: 500;
          }
        }
      }
    }

    img {
      width: 50%;
      border-radius: 0.5rem;
    }

    @media (max-width: 768px) {
      @apply flex flex-col-reverse;
      padding: 0 1rem;

      .project-content {
        width: 100%;

        .project-body {
          width: 100%;

          a button {
            width: 100%;
          }
        }
      }

      img {
        width: 100%;
        margin-bottom: 2.5rem;
      }
    }
  }

  .news {
    grid-area: news;

    h2 {
      display: flex;
      justify-content: center;
      margin-top: 40px;
      margin-bottom: 5rem;
    }

    .news-cards {
      @apply flex flex-wrap justify-center md:mt-10;

      .news-item {
        @apply flex flex-col max-w-sm;
        border-radius: 0.5rem;
        border: 1px solid #66a2de;
        margin: 0 2.5rem 2.5rem 2.5rem;
        width: 20.125rem;

        img {
          border-radius: 0.5rem 0.5rem 0 0;
          width: 100%;
          min-height: 242px;
          max-height: 242px;
        }

        h2 {
          display: flex;
          justify-content: center;
        }
      }
    }
  }

  .gallery-carousel {
    grid-area: gallery-carousel;
    grid-column: 1 / -1;

    h2 {
      display: flex;
      justify-content: center;
      margin-bottom: 2.5rem;
    }

    .glide__slides {
      @apply flex justify-center items-center;
      margin: 0;
      padding: 0;
      list-style: none;

      .glide__slide {
        @apply flex justify-center items-center;
        max-width: 41.75rem;
        height: auto;
        transition: transform 0.25s ease-out;

        &:not(.glide__slide--active) {
          max-width: 33.125rem;
        }

        img {
          width: 100%;
          height: auto;
          border-radius: 8px;
          object-fit: cover;
          max-width: 100%;
          max-height: 100%;
        }
      }
    }

    .glide__progress {
      max-width: 660px;
      margin: 56px auto 0;
      height: 4px;
      background-color: #ddd;
      border-radius: 2px;
    }

    .glide__progress-bar {
      @apply bg-blue-80;
      height: 4px;
      width: 0;
      border-radius: 2px;
    }
  }
}


@media (max-width: 768px) {
  .landing-grid {
    .landing-carousel {
      .glide__slides {
        height: auto;
        max-height: 24.125rem;
      }
    }

    .news {
      .news-cards {
        @apply flex-nowrap;
        overflow-x: auto;
        scroll-snap-type: x mandatory;

        .news-item {
          margin: 0 1.5rem 0 0;
          scroll-snap-align: start;
        }
      }
    }

    .gallery-carousel {
      .glide__slide {
        max-width: 100%;
        width: 80%;
        height: auto;

        transition: transform 0.3s ease, width 0.3s ease;
        transform: scale(0.8);
        border-radius: 8px;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          background-size: cover;
          border-radius: 8px;
        }
      }

      .glide__slide--active {
        width: 100%;
        transform: scale(1.2);
        z-index: 2;
        border-radius: 16px;
      }

      .glide__bullets {
        display: flex;
        justify-content: center;
        margin-top: 40px;
        margin-bottom: 40px;
      }

      .glide__bullet {
        @apply bg-black-10;
        height: 10px;
        width: 10px;
        border-radius: 50%;
        margin: 0 5px;
      }

      .glide__bullet.active {
        @apply bg-blue-80;
      }
    }
  }
}

@media (min-width: 768px) {
  .landing-grid {
    /* 2 colunas em telas médias */
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "landing-carousel landing-carousel"
      "landing-links landing-links"
      "project project"
      "news news"
      "gallery-carousel gallery-carousel"
      "onde-nos-encontrar onde-nos-encontrar";
  }
}

@media (min-width: 1024px) {
  .landing-grid {
    /* 3 colunas em telas grandes */
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "landing-carousel landing-carousel landing-carousel"
      "landing-links landing-links landing-links"
      "project project project"
      "news news news"
      "gallery-carousel gallery-carousel gallery-carousel"
      "onde-nos-encontrar onde-nos-encontrar onde-nos-encontrar";
  }
}

.top-banner {
  @apply w-full;

  width: 100%;
  min-height: 25rem;
  grid-area: top-banner;
}


.bottom-banner {
  @apply w-full;

  height: 30rem;
  grid-area: bottom-banner;
}

.about {
  @apply flex justify-center;
  padding: 2rem;

  .about-text {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-right: 1rem;
    min-height: 300px;

    a {
      max-width: 120px !important;
    }
  }

  img {
    width: 40rem;
    height: 30rem;
    margin-top: 15px;
  }
}

.publications {
  .publications-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .publications-main-text {
      margin: 5rem 30rem;
    }

    a {
      margin-bottom: 5rem;
    }
  }

  .banner-container {
    position: relative;
    width: 100%;
    margin: auto;

    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  .centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 1.875rem;
  }
}

.input-space {
  display: flex;

  .eye-button {
    translate: -30px 10%;
    width: 0px !important;
    height: auto !important;
  }
}
