.landing-grid {
  display: grid;
  /* Ajuste automático das colunas */
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-areas:
    "landing-carousel"
    "landing-links"
    "news"
    "gallery-carousel"
    "onde-nos-encontrar";

  width: 100%;
  gap: 1rem;
  overflow: scroll;
  overflow-x: hidden;

  .landing-carousel {
    grid-area: landing-carousel;
    grid-column: 1 / -1;

    .glide__slide {
      max-width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        background-size: cover;
      }
    }

    .glide__bullets {
      display: flex;
      justify-content: center;
      margin-top: 40px;
      margin-bottom: 40px;
    }

    .glide__bullet {
      @apply bg-black-10;
      height: 10px;
      width: 10px;
      border-radius: 50%;
      margin: 0 5px;
    }

    .glide__bullet.active {
      @apply bg-blue-80;
    }
  }

  .landing-links {
    @apply flex flex-wrap justify-center;
    grid-area: landing-links;
    width: 100%;
    gap: 1rem;

    .links-item {
      @apply flex flex-col justify-start items-start;
      margin: 0 2rem 2rem;
      border-radius: 8px;
      width: 20.125rem;
      height: 20.875rem;
      box-sizing: border-box;
      background: linear-gradient(180deg, rgba(16, 16, 16, 0) 0%, #101010 100%);

      a {
        @apply flex flex-col mt-auto;
      }

      img {
        @apply absolute;
        z-index: -10;
        height: inherit;
        width: inherit;
      }

      h3 {
        padding-left: 1rem;
      }

      p {
        text-wrap: nowrap;
        margin-top: 0.5rem;
        padding: 0 1rem 1.5rem 1rem;
      }

      button {
        width: 100%;
        padding: 0 1rem 1.5rem 0;
        background-color: transparent;

        p {
          display: inline-flex;
          width: inherit;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .news {
    grid-area: news;

    h2 {
      display: flex;
      justify-content: center;
      margin-top: 40px;
      margin-bottom: 5rem;
    }

    .news-cards {
      @apply flex flex-wrap justify-center md:mt-10;

      .news-item {
        @apply flex flex-col max-w-sm;
        border-radius: 0.5rem;
        border: 1px solid #66a2de;
        margin: 0 2.5rem 2.5rem 2.5rem;
        width: 20.125rem;

        img {
          border-radius: 0.5rem 0.5rem 0 0;
          width: 100%;
          min-height: 242px;
          max-height: 242px;
        }

        h2 {
          display: flex;
          justify-content: center;
        }

        button {}
      }
    }
  }

  .gallery-carousel {
    grid-area: gallery-carousel;
    grid-column: 1 / -1;

    h2 {
      display: flex;
      justify-content: center;
      margin-bottom: 2.5rem;
    }

    .glide__slides {
      margin: 0;
      padding: 0;
      list-style: none;
    }

<<<<<<< feat/responsive-landing
    .glide__slide {
      @apply flex justify-center items-center;
      width: 100%;
      height: auto;
      max-height: 500px;
      transition: transform 0.25s ease-out;
=======
    p {
      text-wrap: wrap;
      margin-top: 0.5rem;
      padding: 0 1rem 1.5rem 1rem;
>>>>>>> main
    }

    .glide__slide img {
      width: 100%;
      height: auto;
      border-radius: 8px;
      object-fit: cover;
      max-width: 100%;
      max-height: 100%;
    }

    .glide__progress {
      max-width: 660px;
      margin: 56px auto 0;
      height: 4px;
      background-color: #ddd;
      border-radius: 2px;
    }

    .glide__progress-bar {
      @apply bg-blue-80;
      height: 4px;
      width: 0;
      border-radius: 2px;
    }
  }
}


@media (max-width: 768px) {
  .landing-grid {
    .news {
      .news-cards {
        @apply flex-nowrap overflow-x-auto;
        padding: 1rem;
        scroll-snap-type: x mandatory;
        gap: 1.5rem;
        width: 100%;

        .news-item {
          min-width: calc(100% - 3rem);
          scroll-snap-align: start;
          margin: 0 0 2.5rem 0;
        }
      }
    }

    .gallery-carousel {
      .glide__slide {
        max-width: 100%;
        width: 80%;
        height: auto;

        transition: transform 0.3s ease, width 0.3s ease;
        transform: scale(0.8);
        border-radius: 8px;
        overflow: hidden;


        img {
          width: 100%;
          height: 100%;
          background-size: cover;
          border-radius: 8px;
        }
      }

      .glide__slide--active {
        width: 100%;
        transform: scale(1.2);
        z-index: 2;
        border-radius: 16px;
      }

      .glide__bullets {
        display: flex;
        justify-content: center;
        margin-top: 40px;
        margin-bottom: 40px;
      }

      .glide__bullet {
        @apply bg-black-10;
        height: 10px;
        width: 10px;
        border-radius: 50%;
        margin: 0 5px;
      }

      .glide__bullet.active {
        @apply bg-blue-80;
      }
    }
  }
}

@media (min-width: 768px) {
  .landing-grid {
    /* 2 colunas em telas médias */
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "landing-carousel landing-carousel"
      "landing-links landing-links"
      "news news"
      "gallery-carousel gallery-carousel"
      "onde-nos-encontrar onde-nos-encontrar";
  }
}

@media (min-width: 1024px) {
  .landing-grid {
    /* 3 colunas em telas grandes */
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "landing-carousel landing-carousel landing-carousel"
      "landing-links landing-links landing-links"
      "news news news"
      "gallery-carousel gallery-carousel gallery-carousel"
      "onde-nos-encontrar onde-nos-encontrar onde-nos-encontrar";
  }
}

.top-banner {
  @apply w-full;

  width: 100%;
  min-height: 25rem;
  grid-area: top-banner;
}


.bottom-banner {
  @apply w-full;

  height: 30rem;
  grid-area: bottom-banner;
}

.about {
  @apply flex justify-center;
  padding: 2rem;

  .about-text {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-right: 1rem;
    min-height: 300px;

    a {
      max-width: 120px !important;
    }
  }

  img {
    width: 40rem;
    height: 30rem;
    margin-top: 15px;
  }
}

.publications {
  .publications-text {
    display: flex;
    flex-direction: column;
    align-items: center;

    .publications-main-text {
      margin: 5rem 30rem;
    }

    a {
      margin-bottom: 5rem;
    }
  }

  .banner-container {
    position: relative;
    width: 100%;
    margin: auto;

    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  .centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 1.875rem;
  }
}

.input-space {
  display: flex;

  .eye-button {
    translate: -30px 10%;
    width: 0px !important;
    height: auto !important;
  }
}

.equipes-wrapper {
  @apply flex;
  flex-direction: column;
  margin-top: 5rem;

  .mapa-wrapper {
    @apply flex;
    padding: 0 2.5rem;

    img {
      border-radius: 1.5rem;
      max-width: 100%;
      height: auto;
    }
  }

  .nossas-sedes-wrapper {
    @apply flex;
    flex-direction: column;
    align-items: center;
    gap: 4.5rem;
    margin-top: 5rem;

    .nossas-sedes-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2.5rem;
      padding: 0 7.188rem;
      margin-bottom: 5rem;

      .sede-detail {
        @apply flex items-start gap-2.5;
        gap: 0.625rem;

        svg {
          @apply text-black-80;
          margin-top: 0.3rem;
          width: 14px;
          height: 14px;
        }

        .sede-text {
          @apply flex;
          flex-direction: column;

          >h5 {
            line-height: 1.5rem;
          }

          >h5:nth-child(1) {
            font-weight: 700;
          }
        }
      }
    }
  }

  .nossas-equipes-wrapper {
    @apply flex;
    flex-direction: column;
    align-items: center;
    gap: 3.5rem;

    .nossas-equipes-container {
      @apply flex relative;
      flex-direction: column;
      gap: 2rem;
      padding: 0 2.5rem 0 2.5rem;
      margin-bottom: 5rem;

      .nossas-equipes-card {
        @apply relative;

        .nossas-equipes-content {
          @apply flex absolute;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 1.5rem;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          text-align: center;

          a,
          div {
            @apply flex text-white-100;
            justify-content: center;
            align-items: center;
            width: 10.938rem;
            height: 2.563rem;
            font-size: 0.875rem;
            background-color: rgba(255, 255, 255, 0.1);
            backdrop-filter: blur(10px);
            border-radius: 4px;
            cursor: pointer;
          }
        }
      }

      .nossas-equipes-content-collapsed {
        @apply flex;
        flex-direction: column;
        justify-content: center;
        margin: 2.5rem 2.5rem;
        gap: 3rem;

        .margin {
          margin: 1rem;
        }

        .bold {
          font-weight: 700;
        }

        h4 {
          font-size: 16px;
          line-height: 18px;
        }

        .collapsed-menu-wrapper {
          @apply flex bg-blue-100;
          justify-content: space-between;
          align-items: center;
          padding: 1.5rem;
          border-radius: 8px;

          svg {
            @apply text-white-100;
          }
        }

        .collapsed-menu-content {
          padding: 0 1.5rem 0 1.5rem;

          h4:nth-child(1) {
            margin-bottom: 2.5rem;
          }

          .linha-pesquisa {
            @apply flex;
            flex-direction: column;
            gap: 2.5rem;
            margin-bottom: 2.5rem;

            .linha-pesquisa-header {
              @apply flex;
              flex-direction: column;
              gap: 1.5rem;
            }

            .membros {
              @apply flex;
              flex-direction: column;
              gap: 2.5rem;

              .membro-equipe {
                @apply flex;
                align-items: center;
                gap: 1rem;

                .membro-circle {
                  @apply flex bg-blue-100;
                  justify-content: center;
                  border-radius: 50%;
                  overflow: hidden;
                  width: 3.75rem;
                  height: 3.75rem;

                  img {
                    width: 100%;
                    object-fit: cover;
                  }
                }

                .membro-circle-transparent {
                  @apply flex;
                  justify-content: center;
                  width: 3.75rem;
                  height: auto;

                  img {
                    width: 100%;
                  }
                }

                .membro-description {
                  @apply flex;
                  flex-direction: column;
                  justify-content: center;
                  gap: 0.5rem;

                  .membro-name {
                    @apply flex;
                    align-items: center;
                    gap: 0.75rem;

                    & h5:nth-child(1) {
                      font-weight: 600;
                    }

                    .lider {
                      @apply bg-blue-10;
                      border-radius: 2px;
                      padding: 0.5rem;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1264px) {
  .nossas-equipes-container {
    width: 1360px;
  }
}
