.landing-grid {
  overflow: scroll;
  display: grid;
  gap: 2rem;
  grid-template-areas:
    'top-banner'
    'links'
    'about'
    'news'
    'bottom-banner';
}

.top-banner {
  @apply w-full;

  height: 25rem;
  grid-area: top-banner;
}

.bottom-banner {
  @apply w-full;

  height: 30rem;
  grid-area: bottom-banner;
}

.links {
  @apply relative w-full;
  @apply flex justify-between;
  padding: 3rem 10rem;

  .links-item {
    @apply flex flex-col justify-end;
    height: 20rem;
    width: 19rem;

    img {
      @apply absolute;
      z-index: -10;
      height: inherit;
      width: inherit;
    }

    p {
      width: 85%;
    }

    button {
      width: 10rem;
      margin-top: 1rem;
    }
  }
}

.about {
  @apply flex justify-between;

  padding: 3rem 5rem;

  .about-text {
    height: 20rem;
    width: 26rem;

    h1 {
      margin-bottom: 1rem;
      margin-top: 0.25rem;
    }

    button {
      margin-top: 1rem;
    }
  }

  img {
    height: 30rem;
    width: 40rem;
  }
}
