.landing-grid {
  overflow: scroll;
  overflow-x: hidden;
  display: grid;
  grid-template-areas:
    "top-banner"
    "glide"
    "links"
    "about"
    "news"
    "bottom-banner";
}

.top-banner {
  @apply w-full;

  width: 100%;
  min-height: 25rem;
  grid-area: top-banner;
}

.land-carousel {
  margin-bottom: 70px;

  .glide1 {
    max-width: 100vw;
    max-height: 600px;
  }

  .glide__slide {
    max-width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      background-size: cover;
    }
  }

  .glide__bullets {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }

  .glide__bullet {
    @apply bg-black-10;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin: 0 5px;
  }

  .glide__bullet.active {
    @apply bg-blue-80;
  }
}

.bottom-banner {
  @apply w-full;

  height: 30rem;
  grid-area: bottom-banner;
}

.links {
  @apply flex flex-wrap justify-center;

  .links-item {
    @apply flex flex-col justify-start items-start m-8;
    border-radius: 8px;
    background: linear-gradient(180deg, rgba(16, 16, 16, 0) 0%, #101010 100%);

    img {
      @apply absolute;
      z-index: -10;
      height: inherit;
      width: inherit;
    }

    h3 {
      padding-left: 1rem;
    }

    p {
      text-wrap: nowrap;
      margin-top: 0.5rem;
      padding: 0 1rem 1.5rem 1rem;
    }

    button {
      width: 100%;
      padding: 0 1rem 1.5rem 0;
      background-color: transparent;

      p {
        display: inline-flex;
        width: inherit;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.about {
  @apply flex justify-center;
  padding: 2rem;

  .about-text {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-right: 1rem;
    min-height: 300px;

    a {
      max-width: 120px !important;
    }
  }

  img {
    width: 40rem;
    height: 30rem;
    margin-top: 15px;
  }
}

.news {
  h2 {
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
  }

  .news-cards {
    @apply flex flex-wrap justify-center md:mt-10;

    .news-item {
      @apply max-w-sm;
      border-radius: 0.5rem;
      border: 1px solid #66a2de;
      margin: 0 2.5rem 2.5rem 2.5rem;
      width: 20.125rem;

      img {
        border-radius: 0.5rem 0.5rem 0 0;
        width: 100%;
        min-height: 242px;
        max-height: 242px;
      }

      h2 {
        display: flex;
        justify-content: center;
      }

      button {
        margin-top: 1rem;
      }
    }
  }
}

.gallery-carousel {
  padding: 56px 0;

  h2 {
    display: flex;
    justify-content: center;
    margin-bottom: 2.5rem;
  }

  .glide2 {
    max-width: 100vw;
    max-height: 500px;
  }

  .glide__slides {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .glide__slide {
    @apply flex justify-center items-center;
    width: 670px !important;
    height: 380px;
    transition: transform 0.25s ease-out;
  }

  .glide__slide img {
    height: 100%;
    width: 100%;
    border-radius: 8px;
    object-fit: cover;
  }

  .glide__progress {
    max-width: 660px;
    margin: 56px auto 0;
    height: 4px;
    background-color: #ddd;
    border-radius: 2px;
  }

  .glide__progress-bar {
    @apply bg-blue-80;
    height: 4px;
    width: 0;
    border-radius: 2px;
  }
}

.find-us {
  @apply bg-orange-100;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 650px;
  padding: 80px 0;

  .find-us-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    >p {
      margin-bottom: 40px;
    }
  }

  h2 {
    margin-bottom: 80px;
  }

  .find-us-links {
    display: inline-flex;
    margin-bottom: 80px;

    a {
      margin: 10px;
    }
  }

  .find-us-bttn {
    display: flex;
    background-color: white;
    width: 185px;
    padding: 16px 24px;
    border-radius: 4px;

    a {
      display: inline-flex;
      text-wrap: nowrap;
      text-decoration: none;

      img {
        margin-right: 6px;
      }
    }
  }
}

.equipes-wrapper {
  @apply flex;
  flex-direction: column;
  margin-top: 5rem;

  .nossas-sedes-wrapper {
    @apply flex;
    flex-direction: column;
    align-items: center;
    gap: 4.5rem;

    .nossas-sedes-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2.5rem;
      padding: 0 7.188rem;
      margin-bottom: 5rem;

      .sede-detail {
        @apply flex items-start gap-2.5;
        gap: 0.625rem;

        svg {
          @apply text-black-80;
          margin-top: 0.3rem;
          width: 14px;
          height: 14px;
        }

        .sede-text {
          @apply flex;
          flex-direction: column;

          >h5 {
            line-height: 1.5rem;
          }

          >h5:nth-child(1) {
            font-weight: 700;
          }
        }
      }
    }
  }

  .nossas-equipes-wrapper {
    @apply flex;
    flex-direction: column;
    align-items: center;
    gap: 3.5rem;

    .nossas-equipes-container {
      @apply flex relative;
      flex-direction: column;
      gap: 2rem;
      padding: 0 2.5rem 0 2.5rem;
      margin-bottom: 5rem;

      .nossas-equipes-card {
        @apply relative;

        .nossas-equipes-content {
          @apply flex absolute;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 1.5rem;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          text-align: center;

          p {}

          a {
            @apply flex text-white-100;
            justify-content: center;
            align-items: center;
            width: 10.938rem;
            height: 2.563rem;
            font-size: 0.875rem;
            background-color: rgba(255, 255, 255, 0.1);
            backdrop-filter: blur(10px);
            border-radius: 4px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1264px) {
  .nossas-equipes-container .nossas-equipes-card {
    width: 1360px;
    height: 260px;
  }
}