.navbar {
  @apply flex justify-between items-center;
  @apply w-full border-black-10 bg-white-100;
  height: 98px;

  .logo {
    margin: 1.5rem 0 1.5rem 6.25rem;

    @media screen and (max-width: 768px) {
      margin: 1.5rem 1.5rem;
    }
  }

  .login-button {
    @apply flex;
    margin: 24px 100px 24px 0px;
  }

  .nav-menu {
    @apply justify-between items-center;
    gap: 3rem;
    margin: 21px 0;

    a:hover {
      text-decoration: none;
    }

    .nav-link {
      padding: 16px 0px;
      max-height: 56px;
      max-width: 200px;

      &.active {
        @apply border-b-2 border-blue-100;
      }

      &:hover,
      &:focus-within {
        @apply border-b-2 border-blue-100;
        cursor: pointer;
      }
    }
  }

  .hamburger-button {
    @apply md:hidden;
    margin: 1.5rem;
  }
}

#navbar {
  @apply relative;
  z-index: 20;

  .hamburger-container {
    @apply absolute bg-white-100;
    margin-top: 0.5rem;
    padding: 1.5rem 1.5rem;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 10;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

    transform: translateY(-20px);
    transition: opacity 0.3s ease, transform 0.3s ease;

    .nav-menu {
      @apply flex;
      flex-direction: column;
      gap: 1rem;
    }

    a button {
      margin-top: 1rem;
    }
  }
}

.arrow-open,
.arrow-close {
  @apply bg-white-100 text-blue-100 rounded-full;
  @apply border-2 border-black-10;
  height: 32px;
  width: 32px;
  padding: 8px;
  z-index: 100;
  position: fixed;
  top: 50%;
  right: -1rem;
}

.navbar-authenticated {
  overflow: visible;
}

.navbar-authenticated {
  @apply border-black-10 flex flex-col items-center w-full;

  position: fixed;
  padding: 40px;
  width: $nav-width;
  -webkit-transition: width 0.05s linear;
  transition: width 0.1s linear;
  transform: translateZ(0) scale(1, 1);
  border-right-width: 1px;

  .logo-auth {
    margin-bottom: 5rem;
  }


  .user-info {
    @apply flex justify-center;
    margin-top: 12rem;

    svg {
      width: 3.75rem;
      height: 3.75rem;
    }
  }

  .nav-menu {
    @apply flex flex-col items-center justify-start;

    height: 26.875rem;

    a {
      @apply flex justify-center;

      .nav-item {
        @apply flex text-black-60 items-center justify-center;

        padding: 1rem 0.813rem 1rem 0.813rem;
      }
    }

    .active svg {
      @apply text-blue-80;
    }

    .active svg {
      @apply text-blue-80;
    }
  }
}

.navbar-authenticated.open {
  @apply relative bg-white-100 items-center;
  z-index: 10;

  width: 20rem;

  .user-info {
    @apply flex justify-center items-center;

    margin-top: auto;

    svg {
      width: 3.75rem;
      height: 3.75rem;
      margin-right: 0.75rem;
    }
  }

  .nav-menu {
    @apply flex;

    a {
      @apply flex;
      width: 85%;
      justify-content: flex-start;
      align-items: center;
      text-decoration: none;

      .nav-item {
        @apply flex;

        padding: 1rem 1.5rem 1rem 1.5rem;
        justify-content: center;
        align-items: center;

        p {
          padding: 0.5rem;
        }
      }

      &:hover {

        svg,
        p {
          @apply text-blue-80;
        }
      }
    }
  }

  .active svg {
    @apply text-black-60;
  }

  .logo {
    margin-bottom: 5rem;
    width: 12.25rem;
    height: 3.8rem;
  }
}