.navbar {
  @apply flex justify-between items-center;
  @apply w-full border-black-10 bg-white-100;
}

.logo {
  margin-left: 2.5rem;
  width: 9.75rem;
  height: 3.125rem;
}

.login-button {
  margin-right: 2.5rem;
}

.navbar.authenticated {
  @apply border-black-10 flex flex-col items-center w-full;

  padding: 2.5rem;
  width: $nav-width;
  overflow: hidden;
  -webkit-transition: width 0.05s linear;
  transition: width 0.1s linear;
  transform: translateZ(0) scale(1, 1);
  border-right-width: 1px;

  >span {
    @apply border-black-10 rounded-full;

    border-width: 1.5px;
    width: 2rem;
    height: 2rem;
    position: fixed;
    padding: 0.5rem;
    top: 50vh;
    left: calc($nav-width + 1rem);
    z-index: 1000;

    >svg {
      @apply text-blue-100;

      width: 1rem;
      height: 1rem;
    }
  }

  .user-info {
    @apply flex justify-center;
    margin-top: 12rem;
  }

  .nav-menu {
    @apply flex flex-col items-center justify-between;

    height: 26.875rem;

    .nav-item {
      @apply text-black-60 flex items-center justify-center;
    }
  }

  .logo {
    margin-right: 1.5rem;
    width: 3.75rem;
    height: 3.875rem;
  }
}

.navbar.authenticated.open {
  @apply relative bg-white-100 items-center;
  z-index: 999;

  width: 20rem;

  >span {
    left: 21rem;
  }

  .user-info {
    @apply items-center;

    width: max-content;

    svg {
      width: 3.75rem;
      height: 3.75rem;
      margin-right: 0.75rem;
    }
  }

  .nav-menu {
    @apply items-start;
    width: 85%;

    .nav-item {
      width: 100%;
      padding: 1rem 1.5rem;
      justify-content: left;

      a {
        display: flex;
        justify-content: center;
        align-items: center;

        p {
          padding: 0.5rem;
        }
      }

      &:hover {
        @apply text-blue-80;
      }

      .logo {
        margin: 0;
      }
    }

    .nav-item>svg {
      margin-right: 0.5rem;
    }
  }

  .logo {
    width: 12.25rem;
    height: 3.8rem;
  }
}