.navbar {
  @apply w-full bg-white-100;
  @apply flex justify-center items-center;

  height: 6.125rem;

  .mobile {
    @apply flex justify-between lg:hidden;
  }

  .desktop {
    @apply w-full hidden;
    @apply lg:flex lg:justify-center;
    @apply px-3;

    ul {
      @apply w-11/12;
      @apply flex justify-between items-center;
    }
  }
}

.menu-item {
  @apply flex justify-center items-center;
  @apply text-blue-100 font-medium;
  @apply font-medium leading-8;
  @apply border-0 bg-white-100;

  padding: 0.75rem 1.5rem;
  height: 3.25rem;
  width: 10rem;
  border-radius: 6.25rem;
  white-space: nowrap;

  a {
    @apply w-max h-max;
    @apply flex justify-between items-center;

    svg {
      @apply mr-3
    }
  }
}

.menu-logo {
  width: 9.75rem;
  height: 3.125rem;
}
