.navbar {
  @apply flex justify-between items-center;
  @apply w-full border-black-10 bg-white-100;
  border-bottom-width: 1px;
}

.logo {
  margin-left: 2.5rem;
  width: 9.75rem;
  height: 3.125rem;
}

.login-button {
  margin-right: 2.5rem;
}

.nav-menu {
  @apply flex justify-evenly;
  width: 30rem;
}

.nav-item {
  @apply flex justify-between items-center;
  padding: 1rem 1.5rem;

  > svg {
    margin-left: 0.5rem;
  }
}

.navbar.authenticated {
  @apply border-black-10 flex flex-col items-center;
  padding: 2.5rem;
  width: 8.75rem;
  overflow: hidden;
  -webkit-transition: width 0.05s linear;
  transition: width 0.1s linear;
  transform: translateZ(0) scale(1, 1);
  border-right-width: 1px;
  .user-info {
    @apply flex justify-center;
    margin-top: 12rem;
  }
  .nav-menu {
    @apply flex flex-col items-center justify-between;
    height: 26.875rem;
    .nav-item {
      @apply text-black-60 flex items-center;
    }
  }
  .logo {
    width: 3.75rem;
    height: 3.875rem;
  }
}
.navbar.authenticated.open {
  @apply bg-white-100;
  z-index: 1000;
  width: 20rem;
  .user-info {
    svg {
      width: 3.75rem;
      height: 3.75rem;
      margin-right: 0.75rem;
    }
  }
  .nav-menu {
    @apply items-start;
    .nav-item > svg {
      margin-right: 0.5rem;
    }
  }
  .logo {
    width: 12.25rem;
    height: 3.8rem;
  }
}
