.pesquisadores-lista {
  @apply mx-auto;

  border-collapse: separate;

  #pesquisadores {
    width: 76.5rem;
    height: 40rem;

    text-align: center;
    position: absolute;
    left: 11rem;
    top: 8.1rem;

    table {
      td {
        @apply border-blue-40;

        border-width: 1px;
      }

      thead {
        @apply text-lg;

        height: 4rem;
        text-align: center;
      }

      tbody > tr {
        height: 3.6rem;
      }
    }
  }
}
