.user-profile-wrapper {
  @apply w-full h-full;
  .user-profile-banner {
    @apply w-full;
    height: 12.5rem;

    .user-profile-banner-default {
      @apply bg-orange-60;

      height: 12.5rem;
    }
  }

  .user-profile-avatar {
    @apply bg-orange-100;
    @apply border-4 border-white-100;

    position: absolute;
    top: 6.25rem;
    left: 10.9rem;
    width: 12.5rem;
    height: 12.5rem;
    border-radius: 50%;
    display: inline-block;

    svg {
      margin: 20% auto;
    }
  }

  .user-profile-menu {
    @apply flex flex-col items-center justify-center;
    @apply bg-white-100;
    @apply border-2 border-blue-80 text-blue-80;
    @apply pt-14 pr-8;

    &:hover {
      visibility: visible;

      .user-profile-menu-dots {
        @apply border-0;
      }

      pointer-events: visible;
    }

    position: relative;
    border-radius: 1rem;
    height: 13rem;
    width: 13rem;
    left: 77%;
    top: 1rem;
    pointer-events: none;
    visibility: hidden;

    .profile-menu-link {
      @apply flex justify-between items-start w-28;
    }

    .user-profile-menu-dots {
      @apply flex items-center;
      @apply border-2 border-blue-80 bg-white-100;

      width: 3.5rem;
      height: 3.5rem;
      border-radius: 6.25rem;

      position: absolute;
      bottom: 70%;
      left: 70%;
      pointer-events: auto;
      visibility: visible;

      &:hidden {
        pointer-events: none;
      }

      .dots {
        @apply w-1/2 mx-auto hover:hidden;
        @apply flex justify-between items-center;

        span {
          @apply bg-blue-80;

          border-radius: 50%;
          height: 0.25rem;
          width: 0.25rem;
        }
      }
    }
  }

  .user-profile-info {
    position: absolute;
    top: 21.25rem;
    left: 10%;
    height: 4.65rem;

    .basic-info {
      @apply flex flex-col items-start justify-between;
    }

    .about {
      @apply w-full ml-6;
      @apply flex flex-col items-start;

      width: 62.5rem;
      height: 6rem;

      span {
        height: 7.5rem;
      }
    }

    .links {
      @apply ml-6;
      @apply flex flex-col items-start justify-between;

      height: 8.75rem;
    }

     hr {
      @apply border-2 bg-black-10;
      @apply text-black-10 mx-auto my-10;

      height: 2px;
      width: 62.6rem;
      opacity: 0.4;
     }
  }
}
