.sedes-wrapper {
  @apply flex flex-col;
  gap: 5rem;

  .mapa {
    @apply flex justify-center;
    margin-top: 5rem;
    padding: 0 2.5rem;

    img {
      border-radius: 1.5rem;
    }
  }

  .nossas-sedes {
    @apply flex flex-col justify-center;
    align-items: center;
    gap: 5rem;

    .nossas-sedes-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2.5rem;
      padding: 0 7.19rem;

      .sede-detail {
        @apply flex;
        gap: 0.62rem;

        .sede-text {
          font-size: 1rem;

          h5:nth-child(1) {
            font-weight: 700;
          }
        }
      }
    }
  }

  @media (max-width: 768px) {
    .mapa {
      padding: 0 1rem;
    }

    .nossas-sedes {
      h2 {
        text-align: center;
      }

      .nossas-sedes-container {
        grid-template-columns: 1fr;
        padding: 0 1rem;
      }
    }
  }
}