.ui.colossal.menu {
  width: 100%;
  height: 9rem;
}

.ui.massive.text {
  font-size: 1.7rem;
}

.ui.bold.text {
  font-weight: 800;
}

.ui.blue-darker.text {
  color: var(--blue-darker);
}

.ui.full-w {
  width: 100%;
}

.ui.v-align {
  margin-top: auto;
  margin-bottom: auto;
}

.ui.h-align {
  margin-left: 3rem;
  margin-right: 3rem;
}

.ui.logo {
  width: 22rem;
  height: 7rem;
}

.ui.text.centered {
  text-align: center;
}
