/* This is your custom storybook stylesheet. */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/*
 * Put your component styling within the Tailwind utilities layer.
 * See the https://hexdocs.pm/phoenix_storybook/sandboxing.html guide for more info.
 */
@layer utilities {
  * {
    font-family: ui-sans-serif, system-ui;
  }
}

.tabela {
  text-align: center;
  border-collapse: collapse;
  padding: 12px;

  width: 90%;
}
.header-primary {
    @apply bg-blue-100;
    @apply text-white-100;

    border: 1px solid #0064C8;
    border-radius: 4px 4px 0px 0px;
    height: 55px;
  }

.linhas{
    border: 1px solid #99C1E9;
    border-radius: 0px;
    height: 52px;
    color: black-80;

  }
