table {
    height: auto;
    width: 66.5rem;
    border-collapse: collapse;
    text-align: center;

    thead {
        @apply bg-blue-100;
        @apply text-white-100;
        @apply border-blue-100;

        border-width: 1px;

        th:nth-child(1) {
            border-left: 0;
        }

        th:nth-last-child(1) {
            border-right: 0;
        }

        th {
            @apply text-xl;
            @apply text-white-100 bg-blue-100;
            @apply border-blue-40 border-2;

            span {
                a {
                    @apply text-white-100 #{!important};
                }
            }

            padding: 1rem 0;
            text-align: center;
            border-top: 0;
            border-bottom: 0;
            border-radius: 0.25rem;
            height: 3.4rem;
        }
    }

    tbody {
        @apply border-blue-40;

        border-width: 1px;

        tr {
            height: 3.25rem;
        }

        td {
            padding: 1rem 2.5rem;
        }

        tr,
        td {
            @apply text-base;
            border: inherit;
        }
    }
}
