.tag {
  @apply flex;
  @apply items-center;
  @apply m-1;
}

.tag-primary {
  @apply cursor-pointer;
  @apply flex;
  @apply flex-wrap;
  @apply items-center;
  @apply bg-blue-10;
  @apply text-blue-80;

  padding-left: 0.5rem;
  border-radius: 0.25rem;
  height: 3rem;
  margin-left: 0.5rem;

  svg {
    @apply text-blue-100;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}

.tag-secondary {
  @apply cursor-pointer;
  @apply flex;
  @apply flex-wrap;
  @apply items-center;
  @apply bg-orange-10;
  @apply text-orange-80;

  padding-left: 0.5rem;
  border-radius: 0.25rem;
  height: 3rem;
  margin-left: 0.5rem;

  svg {
    @apply text-orange-80;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}
