/* CSS Variables (Custom Properties)
-------------------------------------------*/
:root {
  /* Layout variables */
  --nav-width: 8.75rem;
  --navbar-height: 6.125rem;
  --footer-height: 6.438rem;

  /* Color palette */
  --preto-100: #101010;
  --preto-80: #404040;
  --preto-60: #707070;
  --preto-40: #9f9f9f;
  --preto-20: #cfcfcf;
  --preto-10: #e7e7e7;
  --preto-5: #f3f3f3;

  --azul-100: #0064c8;
  --azul-80: #3383d3;
  --azul-60: #66a2de;
  --azul-40: #99c1e9;
  --azul-20: #cce0f4;
  --azul-10: #e5eff9;
  --azul-5: #f2f7fc;

  --laranja-100: #ffe600;
  --laranja-80: #ffb833;
  --laranja-60: #ffa866;
  --laranja-40: #ffc599;
  --laranja-20: #ffe2cc;
  --laranja-10: #fff0e5;
  --laranja-5: #fff8f2;

  --verde-100: #00b464;
  --verde-80: #33c383;
  --verde-60: #66d2a2;
  --verde-40: #99e1c1;
  --verde-20: #ccf0e0;
  --verde-10: #e5f7ef;
  --verde-5: #f2fbf7;

  --amarelo-100: #ffc832;
  --amarelo-80: #ffd35b;
  --amarelo-60: #ffe084;
  --amarelo-40: #ffe9ad;
  --amarelo-20: #fff2d6;
  --amarelo-10: #fff9eb;
  --amarelo-5: #fffcf5;

  --vermelho-100: #fa3232;
  --vermelho-80: #fb5b5b;
  --vermelho-60: #fc8484;
  --vermelho-40: #fdadad;
  --vermelho-20: #fed6d6;
  --vermelho-10: #febebe;
  --vermelho-5: #fff5f5;

  /* Typography */
  --font-family: "Work Sans", sans-serif;
  --font-size-h1: 40px;
  --font-size-h2: 32px;
  --font-size-h3: 24px;
  --font-size-h4: 20px;
  --font-size-h5: 16px;
  --font-size-body-large: 16px;
  --font-size-body-medium: 14px;
  --font-size-body-small: 12px;

  --line-height-h1: 46px;
  --line-height-h2: 38px;
  --line-height-h3: 28px;
  --line-height-h4: 24px;
  --line-height-h5: 18px;
  --line-height-body-large: 22px;
  --line-height-body-medium: 20px;
  --line-height-body-small: 18px;

  /* Grid variables */
  --columns: 12;
  --gutter-width: 16px;
  --spacing-scale: 8px;
}