.btn {
  padding: 1.5rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  gap: 0.5rem;
  border-radius: 0.25rem;
}

.btn svg {
  display: inline;
}

.btn-primary {
  background-color: var(--azul-100);
  color: #fff;
}

.btn-primary:hover {
  background-color: var(--azul-60);
}

.btn-primary:disabled {
  background-color: var(--azul-20);
}

.btn-primary svg {
  color: #fff;
}

.btn-secondary {
  background-color: #fff;
  color: var(--azul-80);
  border-color: var(--azul-80);
  border-width: 1.5px;
}

.btn-secondary:hover {
  border-color: var(--azul-60);
  color: var(--azul-60);
}

.btn-secondary:disabled {
  border-color: var(--azul-20);
  color: var(--azul-20);
}

.btn-secondary svg {
  color: var(--azul-80);
}

.btn-link {
  gap: 0;
  padding: 0;
  border-radius: 0;
}