.checkbox-container input[type="checkbox"] {
  border-color: var(--preto-10);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  padding: 0;
  margin: 0.5em;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  border-radius: 0.25rem;
  transition: background-color 0.2s ease-in-out;
}

.checkbox-container input[type="checkbox"]:checked {
  background-color: var(--azul-100);
  border-color: var(--azul-40);
  border-width: 1px;
}

.checkbox-container input[type="checkbox"]:focus {
  outline: none;
  box-shadow: none;
}

.checkbox-container input[type="checkbox"]:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}