/* 
 * Using the CSS import instead of Sass @import to avoid deprecation warnings
 * Sass @import is deprecated and will be removed in Dart Sass 3.0.0
 */
@import url("air-datepicker/dist/air-datepicker.css");

.air-datepicker {
  @apply text-black-80 border-black-10;
  --adp-width: 300px;
  --adp-font-family: "Work Sans";
  box-sizing: border-box;
  box-shadow: none;
  border-radius: 0 0px 5px 5px;
  border-top: none;

  &-nav {
    border-bottom: none;

    &--title {
      @apply text-black-80 text-lg;

      i {
        @apply text-black-80 text-lg;
      }
    }

    &--action svg {
      filter: invert(23%) sepia(1%) saturate(2707%) hue-rotate(348deg)
        brightness(94%) contrast(88%);
    }
  }

  &-cell {
    @apply text-black-80 text-lg;

    &.-selected- {
      @apply bg-blue-100;

      &.-current- {
        @apply bg-blue-100;
      }

      &.-focus- {
        @apply bg-blue-60;
      }
    }
  }

  &-body--day {
    &-name {
      @apply text-black-40 text-sm;
      text-transform: lowercase;
    }

    &-names {
      margin: 8px 0 0;
    }
  }
}

.date_input {
  max-width: 300px;

  &__container {
    position: relative;

    input {
      @apply focus:border-black-10 focus:ring-0 focus:ring-offset-0;
    }

    &:focus-within {
      #air-datepicker {
        border-bottom: none;
        border-radius: 0.25rem 0.25rem 0 0;
      }

      &:after {
        @apply bg-black-10;
        content: "";
        position: absolute;
        left: 12px;
        bottom: 0;
        width: 276px;
        height: 1.5px;
        box-sizing: border-box;
      }
    }
  }

  &--suffix {
    @apply absolute top-3 right-3 disabled:text-black-20 pointer-events-none;
  }
}
