.footer {
  background-color: var(--preto-100);
  color: #fff;
  width: 100%;
  height: var(--footer-height);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.footer .links {
  display: flex;
  gap: 32px;
  margin-top: 30px;
}

.footer .links a {
  color: #fff;
  text-decoration: none;
}

.footer .links a:hover {
  text-decoration: underline;
}

.footer .logos {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.footer .logos img {
  height: 40px;
}