.onde-nos-encontrar-wrapper {
  display: flex;
  background-color: var(--laranja-100);
  grid-area: onde-nos-encontrar;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 5rem;
  padding: 5rem 0 5rem 0;
  width: 100vw;
}

.onde-nos-encontrar-wrapper .redes-sociais-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.onde-nos-encontrar-wrapper .redes-sociais-wrapper .redes-sociais-links-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  padding-top: 2.5rem;
}

.onde-nos-encontrar-wrapper .redes-sociais-wrapper .redes-sociais-links-wrapper .redes-sociais-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 0 5rem 0 5rem;
}

.onde-nos-encontrar-wrapper .redes-sociais-wrapper .redes-sociais-links-wrapper .redes-sociais-link .redes-sociais-icon {
  display: flex;
  background-color: #fff;
  color: var(--laranja-100);
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  width: 88px;
  height: 88px;
}

.onde-nos-encontrar-wrapper .redes-sociais-wrapper .redes-sociais-links-wrapper .redes-sociais-link .redes-sociais-icon svg {
  width: 2.5rem;
  height: 2.5rem;
}

.onde-nos-encontrar-wrapper .redes-sociais-wrapper .redes-sociais-links-wrapper .redes-sociais-link p {
  color: #fff;
}

.onde-nos-encontrar-wrapper .fale-conosco-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2.5rem;
}

.onde-nos-encontrar-wrapper .fale-conosco-wrapper .contact-btn {
  display: flex;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  padding: 1rem 1.5rem 1rem 1.5rem;
  cursor: pointer;
  text-decoration: none;
  height: 3rem;
  gap: 0.5rem;
}

.onde-nos-encontrar-wrapper .fale-conosco-wrapper .contact-btn p {
  color: var(--laranja-100);
  font-size: 16px;
}

.onde-nos-encontrar-wrapper .fale-conosco-wrapper .contact-btn svg {
  color: var(--laranja-100);
}

@media (max-width: 767px) {
  .onde-nos-encontrar-wrapper {
    margin: 0;
  }

  .onde-nos-encontrar-wrapper .redes-sociais-wrapper {
    margin: 1rem;
  }

  .onde-nos-encontrar-wrapper .redes-sociais-wrapper .redes-sociais-links-wrapper {
    display: flex;
  }

  .onde-nos-encontrar-wrapper .redes-sociais-wrapper .redes-sociais-links-wrapper .redes-sociais-link {
    padding: 0;
  }

  .onde-nos-encontrar-wrapper .redes-sociais-wrapper .redes-sociais-links-wrapper .redes-sociais-link .redes-sociais-icon {
    width: 60px;
    height: 60px;
  }
}

@media (min-width: 768px) {
  .onde-nos-encontrar-wrapper .redes-sociais-wrapper .redes-sociais-links-wrapper {
    /* 2 colunas em telas médias */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    column-gap: 80px;
    min-height: auto;
    margin-top: 2.5rem;
  }
}

@media (min-width: 1024px) {
  .onde-nos-encontrar-wrapper .redes-sociais-wrapper .redes-sociais-links-wrapper {
    /* 3 colunas em telas grandes */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    column-gap: 80px;
    min-height: auto;
    margin-top: 2.5rem;
  }
}