.input-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input-container label {
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.input-container .input {
  width: 100%;
  padding: 0.75rem 1rem;
  border: 1.5px solid var(--preto-20);
  border-radius: 0.25rem;
  font-size: 1rem;
  line-height: 1.5;
  transition: border-color 0.15s ease-in-out;
}

.input-container .input:hover {
  border-color: var(--preto-40);
}

.input-container .input:focus {
  border-color: var(--azul-80);
  outline: 0;
}

.input-container .input:disabled {
  background-color: var(--preto-5);
  border-color: var(--preto-10);
  color: var(--preto-60);
  cursor: not-allowed;
}

.input-container .input-error {
  border-color: var(--vermelho-100);
}

.input-container .error-message {
  color: var(--vermelho-100);
  margin-top: 0.25rem;
  font-size: 0.875rem;
}

.input-container .icon {
  position: absolute;
  right: 1rem;
  top: 2.5rem;
  color: var(--preto-60);
}

.input-container .input-with-icon {
  padding-right: 2.5rem;
}