.text-input-container {
  @apply flex flex-col justify-between items-start;
  gap: 12px;
}

.input {
  @apply text-black-80 border-black-10;

  width: 100%;
  border-radius: 0.25rem;
  border-width: 1.5px;
  gap: 0.75rem;
  padding: 0.75rem;

  &::placeholder {
    @apply text-black-40;
  }
}

.input:disabled {
  @apply text-black-20 bg-black-5;
  @apply border-black-20 focus:border-black-20;
}

.input-default {
  @apply border-black-10 focus:border-black-10;
}

.input-sucess {
  @apply text-green-100;
  @apply border-green-40 focus:border-green-40;
}

.input-error {
  @apply text-red-100;
  @apply border-red-40 focus:border-red-40;
}

.input-warning {
  @apply border-black-10;
}

.dot {
  @apply h-4 w-4;

  right: 43%;
  top: 49.6%;
  position: absolute;
  display: inline-block;
  border-radius: 50%;
}
