.label_component {
  @apply inline-block;

  justify-content: center;
  border-radius: 0.25rem;
  gap: 0.5rem;
  padding: 0.5rem 0.75rem;
  margin: 0.5rem;
}

.label_component:nth-child(4n + 2) {
  @apply bg-blue-100;
}

.label_component:nth-child(4n + 3) {
  @apply bg-orange-100;
}

.label_component:nth-child(4n + 4) {
  @apply bg-green-100;
}

.label_component:nth-child(4n + 5) {
  @apply bg-red-100;
}
