.landing-grid {
  @apply grid w-full gap-20 overflow-y-scroll overflow-x-hidden;
  /* Ajuste automático das colunas */
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-areas:
    "landing-carousel"
    "landing-links"
    "project"
    "news"
    "gallery-carousel"
    "onde-nos-encontrar";
}

.landing-grid .landing-carousel {
  @apply col-span-full;
  grid-area: landing-carousel;
}

.landing-grid .landing-carousel .glide__slides {
  @apply h-[30.5625rem];
}

.landing-grid .landing-carousel .glide__slides .glide__slide img {
  @apply bg-cover -translate-y-1/5;
}

.landing-grid .landing-carousel .glide__bullets {
  @apply flex justify-center my-10;
}

.landing-grid .landing-carousel .glide__bullet {
  @apply bg-neutral-10 h-2.5 w-2.5 rounded-full mx-[5px];
}

.landing-grid .landing-carousel .glide__bullet.active {
  @apply bg-primary-80;
}

.landing-grid .landing-links {
  @apply flex flex-wrap justify-center w-full gap-4;
  grid-area: landing-links;
}

.landing-grid .landing-links .links-item {
  @apply flex flex-col justify-start items-start bg-primary-100 w-[13.333rem] h-[6.5rem] p-6 rounded-lg;
}

.landing-grid .landing-links .links-item a {
  @apply flex flex-col gap-4;
}

.landing-grid .landing-links .links-item img {
  @apply hidden;
}

.landing-grid .landing-links .links-item h3 {
  @apply text-2xl font-bold leading-7;
}

.landing-grid .landing-links .links-item button {
  @apply flex m-0 p-0 gap-2 bg-transparent;
}

.landing-grid .landing-links .links-item button p {
  @apply text-white-100 text-base font-medium leading-[1.125rem];
}

.landing-grid .project {
  @apply flex justify-between px-10;
  grid-area: project;
}

.landing-grid .project .project-content {
  @apply flex flex-col gap-[0.94rem] w-1/2;
}

.landing-grid .project .project-content p {
  @apply text-xs font-bold leading-[1.125rem] text-[#9f9f9f];
}

.landing-grid .project .project-content .project-body {
  @apply flex flex-col gap-10 w-[90%];
}

.landing-grid .project .project-content .project-body a button {
  @apply flex h-12 py-4 px-6 justify-center items-center gap-2;
}

.landing-grid .project .project-content .project-body a button p {
  @apply text-white-100 text-base font-medium;
}

.landing-grid .project img {
  @apply w-1/2 rounded-lg;
}

.landing-grid .news {
  grid-area: news;
}

.landing-grid .news h2 {
  @apply flex justify-center mt-10 mb-20;
}

.landing-grid .news .news-cards {
  @apply flex flex-wrap justify-center;
}

.landing-grid .news .news-cards .news-item {
  @apply flex flex-col max-w-80 rounded-lg border border-[#66a2de] m-0 mx-10 mb-10 w-[20.125rem];
}

.landing-grid .news .news-cards .news-item img {
  @apply rounded-t-lg w-full h-auto object-cover min-h-[242px] max-h-[242px];
}

.landing-grid .news .news-cards .news-item h2 {
  @apply flex justify-center;
}

.landing-grid .news .news-cards .news-item a.link {
  @apply flex items-center m-auto mb-6 ml-6;
}

.landing-grid .news .news-cards .news-item a.link button {
  @apply gap-2;
}

.landing-grid .news .news-cards .news-item a.link button p {
  @apply font-['Work_Sans'] text-base font-medium leading-[1.125rem];
}

.landing-grid .news .news-cards .news-item a.link button svg {
  @apply w-6 h-6;
}

.landing-grid .gallery-carousel {
  @apply col-span-full;
  grid-area: gallery-carousel;
}

.landing-grid .gallery-carousel h2 {
  @apply flex justify-center mb-10;
}

.landing-grid .gallery-carousel .glide__slides {
  @apply flex justify-center items-center m-0 p-0 list-none;
}

.landing-grid .gallery-carousel .glide__slides .glide__slide {
  @apply flex justify-center items-center max-w-[41.75rem] h-auto transition-transform duration-250 ease-out;
}

.landing-grid .gallery-carousel .glide__slides .glide__slide:not(.glide__slide--active) {
  @apply max-w-[33.125rem];
}

.landing-grid .gallery-carousel .glide__slides .glide__slide img {
  @apply w-full h-auto rounded-lg object-cover max-w-full max-h-full;
}

.landing-grid .gallery-carousel .glide__progress {
  @apply max-w-[660px] my-0 mx-auto mt-14 h-1 bg-[#ddd] rounded-sm;
}

.landing-grid .gallery-carousel .glide__progress-bar {
  @apply bg-primary-80 h-1 w-0 rounded-sm;
}

@media (max-width: 768px) {
  .landing-grid .landing-carousel .glide__slides {
    @apply h-auto max-h-[24.125rem];
  }
  
  .landing-grid .landing-links {
    @apply p-4;
  }
  
  .landing-grid .landing-links .links-item {
    @apply relative w-full box-border bg-gradient-to-b from-transparent from-0% to-neutral-100 to-100%;
  }
  
  .landing-grid .landing-links .links-item img {
    @apply block absolute w-full h-full rounded-lg object-cover inset-0 -z-10;
  }
  
  .landing-grid .project {
    @apply flex flex-col-reverse p-0 px-4;
  }
  
  .landing-grid .project .project-content {
    @apply w-full;
  }
  
  .landing-grid .project .project-content .project-body {
    @apply w-full;
  }
  
  .landing-grid .project .project-content .project-body a button {
    @apply w-full;
  }
  
  .landing-grid .project img {
    @apply w-full mb-10;
  }
  
  .landing-grid .news .news-cards {
    @apply flex flex-nowrap overflow-x-auto justify-start mx-4;
  }
  
  .landing-grid .news .news-cards .news-item {
    @apply m-0 mr-6;
  }
  
  .landing-grid .news .news-cards .news-item:last-child {
    @apply m-0;
  }
  
  .landing-grid .news .news-cards .news-item a.link {
    @apply w-full ml-auto justify-center;
  }
  
  .landing-grid .gallery-carousel .glide__slide {
    @apply max-w-full w-4/5 h-auto transition-all duration-300 scale-80 rounded-lg overflow-hidden;
  }
  
  .landing-grid .gallery-carousel .glide__slide img {
    @apply w-full h-full bg-cover rounded-lg;
  }
  
  .landing-grid .gallery-carousel .glide__slide--active {
    @apply w-full scale-120 z-2 rounded-2xl;
  }
  
  .landing-grid .gallery-carousel .glide__bullets {
    @apply flex justify-center my-10;
  }
  
  .landing-grid .gallery-carousel .glide__bullet {
    @apply bg-neutral-10 h-2.5 w-2.5 rounded-full mx-[5px];
  }
  
  .landing-grid .gallery-carousel .glide__bullet.active {
    @apply bg-primary-80;
  }
}

@media (min-width: 768px) {
  .landing-grid {
    /* 2 colunas em telas médias */
    @apply grid-cols-2;
    grid-template-areas:
      "landing-carousel landing-carousel"
      "landing-links landing-links"
      "project project"
      "news news"
      "gallery-carousel gallery-carousel"
      "onde-nos-encontrar onde-nos-encontrar";
  }
}

@media (min-width: 1024px) {
  .landing-grid {
    /* 3 colunas em telas grandes */
    @apply grid-cols-3;
    grid-template-areas:
      "landing-carousel landing-carousel landing-carousel"
      "landing-links landing-links landing-links"
      "project project project"
      "news news news"
      "gallery-carousel gallery-carousel gallery-carousel"
      "onde-nos-encontrar onde-nos-encontrar onde-nos-encontrar";
  }
}

.top-banner {
  @apply w-full min-h-[25rem];
  grid-area: top-banner;
}

.bottom-banner {
  @apply w-full h-[30rem];
  grid-area: bottom-banner;
}

.about {
  @apply flex justify-center p-8;
}

.about .about-text {
  @apply flex flex-col gap-10 pr-4 min-h-[300px];
}

.about .about-text a {
  @apply max-w-[120px] !important;
}

.about img {
  @apply w-[40rem] h-[30rem] mt-[15px];
}

.publications .publications-text {
  @apply flex flex-col items-center w-full;
}

.publications .publications-text .publications-main-text {
  @apply m-20 mx-[30rem];
}

.publications .publications-text a {
  @apply mb-20;
}

.publications .banner-container {
  @apply relative w-full m-auto;
}

.publications .banner-container img {
  @apply w-full h-auto block;
}

.publications .centered-text {
  @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-white text-center font-bold text-[1.875rem];
}

.input-space {
  @apply flex;
}

.input-space .eye-button {
  @apply -translate-x-[30px] translate-y-[10%] w-0 !important h-auto !important;
}

@media (min-width: 530px) and (max-width: 770px) {
  .links-landing {
    @apply flex flex-col justify-center items-center w-full;
  }
  
  .links-landing .links-item {
    @apply flex flex-col justify-start items-start m-8 w-3/5 h-64 rounded-lg box-border;
    @apply bg-gradient-to-b from-transparent from-0% to-neutral-100 to-100%;
  }
  
  .links-landing .links-item a {
    @apply flex flex-col mt-auto;
  }
  
  .links-landing .links-item img {
    @apply rounded-lg w-full h-full absolute -z-10;
  }
  
  .links-landing .links-item h3 {
    @apply pl-4;
  }
  
  .links-landing .links-item p {
    @apply break-words mt-2 px-4 pb-6;
  }
  
  .links-landing .links-item button {
    @apply w-full px-4 pr-0 pb-6 bg-transparent;
  }
  
  .links-landing .links-item button p {
    @apply inline-flex w-full;
  }
  
  .links-landing .links-item button p:hover {
    @apply underline;
  }
}

@media (min-width: 350px) and (max-width: 529px) {
  .links-landing {
    @apply flex flex-col justify-center items-center w-full;
  }
  
  .links-landing .links-item {
    @apply flex flex-col justify-start items-start m-8 w-[70%] h-52 rounded-lg box-border;
    @apply bg-gradient-to-b from-transparent from-0% to-neutral-100 to-100%;
  }
  
  .links-landing .links-item a {
    @apply flex flex-col mt-auto;
  }
  
  .links-landing .links-item img {
    @apply rounded-lg w-full h-full absolute -z-10;
  }
  
  .links-landing .links-item h3 {
    @apply pl-4;
  }
  
  .links-landing .links-item p {
    @apply break-words mt-2 px-4 pb-6;
  }
  
  .links-landing .links-item button {
    @apply w-full px-4 pr-0 pb-6 bg-transparent;
  }
  
  .links-landing .links-item button p {
    @apply inline-flex w-full;
  }
  
  .links-landing .links-item button p:hover {
    @apply underline;
  }
}