.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-color: var(--preto-10);
  background-color: #fff;
  height: 98px;
}

.navbar .logo {
  margin: 1.5rem 0 1.5rem 6.25rem;
}

@media screen and (max-width: 768px) {
  .navbar .logo {
    margin: 1.5rem 1.5rem;
  }
}

.navbar .login-button {
  display: flex;
  margin: 24px 100px 24px 0px;
}

.navbar .nav-menu {
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  margin: 21px 0;
}

.navbar .nav-menu a:hover {
  text-decoration: none;
}

.navbar .nav-menu .nav-link {
  padding: 16px 0px;
  max-height: 56px;
  max-width: 200px;
}

.navbar .nav-menu .nav-link.active {
  border-bottom: 2px solid var(--azul-100);
}

.navbar .nav-menu .nav-link:hover,
.navbar .nav-menu .nav-link:focus-within {
  border-bottom: 2px solid var(--azul-100);
  cursor: pointer;
}

.navbar .hamburger-button {
  margin: 1.5rem;
}

@media (min-width: 768px) {
  .navbar .hamburger-button {
    display: none;
  }
}

#navbar {
  position: relative;
  z-index: 20;
}

#navbar .hamburger-container {
  position: absolute;
  background-color: #fff;
  margin-top: 8px;
  padding: 24px 24px;
  top: calc(100% + 8px);
  left: 0;
  width: 100%;
  z-index: 10;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transform: translateY(-20px);
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
}

#navbar .hamburger-container .nav-menu {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

#navbar .hamburger-container a button {
  margin-top: 16px;
}

.arrow-open,
.arrow-close {
  background-color: #fff;
  color: var(--azul-100);
  border-radius: 9999px;
  border: 2px solid var(--preto-10);
  height: 32px;
  width: 32px;
  padding: 8px;
  z-index: 100;
  position: fixed;
  top: 50%;
  right: -1rem;
}

.navbar-authenticated {
  overflow: visible;
  border-color: var(--preto-10);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: fixed;
  padding: 40px;
  width: var(--nav-width);
  -webkit-transition: width 0.05s linear;
  transition: width 0.1s linear;
  transform: translateZ(0) scale(1, 1);
  border-right-width: 1px;
}

.navbar-authenticated .logo-auth {
  margin-bottom: 5rem;
}

.navbar-authenticated .user-info {
  display: flex;
  justify-content: center;
  margin-top: 12rem;
}

.navbar-authenticated .user-info svg {
  width: 3.75rem;
  height: 3.75rem;
}

.navbar-authenticated .nav-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 26.875rem;
}

.navbar-authenticated .nav-menu a {
  display: flex;
  justify-content: center;
}

.navbar-authenticated .nav-menu a .nav-item {
  display: flex;
  color: var(--preto-60);
  align-items: center;
  justify-content: center;
  padding: 1rem 0.813rem 1rem 0.813rem;
}

.navbar-authenticated .nav-menu .active svg {
  color: var(--azul-80);
}

.navbar-authenticated.open {
  position: relative;
  background-color: #fff;
  align-items: center;
  z-index: 10;
  width: 20rem;
}

.navbar-authenticated.open .user-info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}

.navbar-authenticated.open .user-info svg {
  width: 3.75rem;
  height: 3.75rem;
  margin-right: 0.75rem;
}

.navbar-authenticated.open .nav-menu {
  display: flex;
}

.navbar-authenticated.open .nav-menu a {
  display: flex;
  width: 85%;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
}

.navbar-authenticated.open .nav-menu a .nav-item {
  display: flex;
  padding: 1rem 1.5rem 1rem 1.5rem;
  justify-content: center;
  align-items: center;
}

.navbar-authenticated.open .nav-menu a .nav-item p {
  padding: 0.5rem;
}

.navbar-authenticated.open .nav-menu a:hover svg,
.navbar-authenticated.open .nav-menu a:hover p {
  color: var(--azul-80);
}

.navbar-authenticated.open .active svg {
  color: var(--preto-60);
}

.navbar-authenticated.open .logo {
  margin-bottom: 5rem;
  width: 12.25rem;
  height: 3.8rem;
}