.select-input-container {
  @apply flex flex-col justify-between items-start;
  gap: 12px;
}

.select-input {
  @apply text-black-80 border-black-10;

  width: 100%;
  border-radius: 0.25rem;
  border-width: 1px;
  gap: 0.75rem;
  padding: 0.75rem;

  &::placeholder {
    @apply text-black-40;
  }
}
