.textarea-grow-wrapper {
  display: grid;

  &::after {
    content: attr(data-replicated-value) " ";
    white-space: pre-wrap;
    visibility: hidden;
  }

  .textarea {
    resize: none;
    overflow: hidden;
  }

  .textarea,
  &::after {
    grid-area: 1 / 1 / 2 / 2;
  }
}

.textarea {
  @apply font-normal text-black-80 leading-6;
  @apply border-black-10;

  border-width: 1.5px;
  border-radius: 0.25rem;

  &::placeholder {
    @apply text-black-10;
  }
}
