<div class="yearly-report-wrapper">
  <.text size="h1" color="text-blue-100">
    Relatório Mensal de Pesquisa do ano de <%= @year %>
  </.text>

  <.form :let={f} for={@form} phx-submit="save">
    <.report_field :for={{name, id} <- @field_names} label={name} id={id} form={f} />

    <.text size="h3" color="text-blue-100">Recursos</.text>

    <.button style="primary" submit>
      Salvar
    </.button>
  </.form>
</div>
