<div class="monthly-report-wrapper">
  <.text size="h1" color="text-blue-100">
    Relatório Mensal de Pesquisa de <%= @today.month %> de <%= @today.year %>
  </.text>

  <.form :let={_f} for={@form} phx-submit="save"></.form>
</div>
