<div class="monthly-report-wrapper">
  <.text size="h1" color="text-blue-100">
    Relatório Mensal de Pesquisa de <%= @today.month %> de <%= @today.year %>
  </.text>

  <.form :let={f} for={@form} phx-submit="save">
    <.live_component
      module={DesignSystem.SearchInput}
      id="search-test"
      name="search-test"
      content={["hello", "teste"]}
      field={@form[:planning_action]}
    />
  </.form>
</div>
