<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta httpEquiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="language" content="Portuguese" />
    <meta name="author" content="zoedsoupe" />
    <meta
      name="description"
      content="Plataforma Digital PEA Pescarte"
      />
    <meta property="og:type" content="website" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossOrigin="true"
      />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap"
      rel="stylesheet"
      />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Plataforma PEA Pescarte" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body class="min-h-screen flex flex-col items-center justify-between oveflow-y-hidden">
    <.navbar conn={@conn} />
    <%= @inner_content %>
    <.footer />
  </body>
  <script>
    if (navigator.serviceWorker) {
      navigator.serviceWorker.register('/service_worker.js', { scope: './' })
        .then(function(reg) {
          console.log('[ServiceWorker]', 'Service worker registered!');
          console.log(reg);
      });
    }
  </script>
</html>
